<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{page_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="{{page_description}}"/>
  <meta name="keywords" content="{{page_keywords}}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="static_files/favicon.png"/>
  <link rel="icon" type="image/png" href="static_files/favicon.png"/>
  <link rel="icon" type="image/vnd.microsoft.icon" href="static_files/favicon.png"/>
  <link type="text/css" rel="stylesheet" href="static_files/css/app.css"/>
  {% block metaData %}{% endblock %}
</head>
<body class="body-login">
	{% if dont_search_email %}
		<div class="body-login-error-container">
			<p>
        {{dont_search_email}}
      </p>
		</div>
	{% endif %}
	<form method="POST" class="body-login-form">
		{{csrf|raw}}
		<label for="email">Por favor introduce tu dirección de correo electrónico</label>
		<input type="text" name="email" id="email" placeholder="Correo electrónico"/>
		<input type="hidden" name="xeki_action" value="auth::forgotpw" />
		<button type="submit"> Continuar </button>
	</form>

</body>
</html>