{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>Ciudades registradas en el sistema</h1>
    </div>
    <div class="dash-container-content-optionContainer">
      <a href="{{URL_BASE}}crear-grupo">
        <img src="static_files/img/icon-dash-add.png" alt="{{alt}} Agregar usuario">
        Crear ciudad
      </a>
    </div>
    <div class="dash-container-content-groupsContent">
      {% if update_city %}
        <div class="dash-container-content-groupsContent-item-done">
          <p>{{update_city}}</p>
        </div>
      {% endif %}
      {% for city in cities %}
      <div class="dash-container-content-groupsContent-item">
        <figure class="dash-container-content-groupsContent-item-figure">
          <img src="static_files/img/icon-location.png" alt="{{alt}} Grupo">
        </figure>
        <h5 class="dash-container-content-groupsContent-item-title">{{city.name}}</h5>
          <figure>
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="group_id" value="{{city.id}}" />
              <input type="hidden" name="action" value="delete" />
              <input type="hidden" name="xeki_action" value="auth::action_groups" />
              <button type="submit">
                <img src="static_files/img/icon-dash-action-delete.png" alt="{{alt}} Eliminar" />
              </button>
            </form>
          </figure>
          <figure class="form_edit_group">
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="action" value="edit" />
              <input type="hidden" name="xeki_action" value="auth::action_groups" />
              <button type="button" >
                <img src="static_files/img/icon-dash-action-edit.png" alt="{{alt}} Editar" />
              </button>
            </form>
          </figure>
        <div class="dash-container-content-groupsContent-item-editContainer editGroup">
          <form method="post">
            <div class="form-control">
              {{csrf|raw}}
              <label for="name">Nombre de la ciudad</label>
              <input type="text" name="name" value="{{city.name}}" />
              <input type="hidden" name="id_city" value="{{city.id}}" />
              <input type="hidden" name="id_user" value="{{auth_user_info.id}}" />
              <input type="hidden" name="xeki_action" value="auth::update_city" />
              <button type="submit">
                <img src="static_files/img/icon-dash-sendForm.png" alt="{{alt}} Actualizar grupo">
              </button>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".form_edit_group").click(function(){
        $userContent = $(this);
        $content = $userContent.next(".editGroup");
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
