{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>{{group.name}}</h1>
    </div>
    <div class="dash-container-content-groupsContentUsers">
      <div class="dash-container-content-groupsContentUsers-infoContainer">
        <p>
          Este grupo fue creado por {{create_by}} para la fecha: {{group.date_created|date}}
        </p>
      </div>
      {% if message_user_adm %}
        <div class="dash-container-content-groupsContentUsers-infoContainer-messageContainer">
          <p class="dash-container-content-groupsContentUsers-infoContainer-messageContainer-error">
            {{message_user_adm}}
          </p>
        </div>
      {% endif %}
      {% if message_user_error %}
        <div class="dash-container-content-groupsContentUsers-infoContainer-messageContainer">
          <p class="dash-container-content-groupsContentUsers-infoContainer-messageContainer-error">
            {{message_user_error}}
          </p>
        </div>
      {% endif %}
      {% if message_user_successful %}
        <div class="dash-container-content-groupsContentUsers-infoContainer-messageContainer">
          <p class="dash-container-content-groupsContentUsers-infoContainer-messageContainer-successful">
            {{message_user_successful}}
          </p>
        </div>
      {% endif %}
      {% for user in users %}
        <div class="dash-container-content-groupsContentUsers-item">
          {% if user.company == 0 %}
            <figure class="dash-container-content-groupsContentUsers-item-figure">
              <img src="static_files/img/logo-coorserpark.jpg" alt="{{alt}} Coorserpark Previsión Exequial">
            </figure>
          {% else %}
            <figure class="dash-container-content-groupsContentUsers-item-figure">
              <img src="static_files/img/logo-capillas.jpg" alt="{{alt}} Capillas de La Fe Funeraria">
            </figure>
          {% endif %}
          <div class="dash-container-content-groupsContentUsers-item-nameContainer">
            <h3>
              {{ user.first_name }} {{ user.last_name }}
            </h3>
          </div>
          <div class="dash-container-content-groupsContentUsers-item-emailContainer">
            <a href="mailto:{{user.email}}">
              {{ user.email }}
            </a>
          </div>
          <div class="dash-container-content-groupsContentUsers-item-optionContainer moreActionUser">
            <figure>
              <img src="static_files/img/view-more-blue.png" alt="{{alt}} Opciones">
            </figure>
          </div>
          <div class="dash-container-content-groupsContentUsers-item-actionContainer containerAction">
            <div class="dash-container-content-groupsContentUsers-item-actionContainer-container">
              <div class="dash-container-content-groupsContentUsers-item-actionContainer-container-permission">
                {% if user.permission %}
                  <p>Usuario con perfil para <span>{{ user.permission[0].name }}</span></p> 
                {% else %}
                  <p>Miembro del grupo</p>
                {% endif %}
              </div>
              <form method="post" class="dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile">
                <label for="permission">
                  {% if user.permission %}
                    Permisos para
                  {% else %}
                    Agregar permisos
                  {% endif %}
                </label>
                <select name="permission" id="permission">
                  {% for permission in table_permission  %}
                    {% if user.permission[0].name == permission.name %}
                      <option value="{{permission.id}}" selected> {{permission.name}} </option>
                    {% else %}
                      <option value="{{permission.id}}" > {{permission.name}} </option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="hidden" name="id_user" value="{{user.id}}">
                <input type="hidden" name="id_group" value="{{group.id}}">
                <input type="hidden" name="xeki_action" value="auth::update_group_user">
                {{csrf|raw}}
                <button type="submit">
                  <img src="static_files/img/icon-dash-menu-check.png" alt="{{alt}} Actualizar usuario">
                </button>
              </form>
              <div class="dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer">
                <a href="" class="dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-viewProfile">
                  <img src="static_files/img/icon-dash-users.png" alt="{{alt}} Perfil de {{ user.first_name }} {{ user.last_name }}">
                  Ver perfil
                </a>
                {% if user.permission %}
                  <form method="post" class="dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-deletePermission">
                    <input type="hidden" name="id_user" value="{{user.id}}" />
                    <input type="hidden" name="id_group" value="{{group.id}}" />
                    <input type="hidden" name="xeki_action" value="auth::update_permission_user" />
                    <button type="submit">
                      <img src="static_files/img/icon-dash-revocate.png" alt="{{alt}} Revocar permisos">
                      Revocar permisos
                    </button>
                    {{csrf|raw}}
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".moreActionUser").click(function(){
        $userContent = $(this);
        $content = $userContent.next(".containerAction");
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
