{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>{{group.name}}</h1>
    </div>
    <div class="dash-container-content-groupsContentUsers">
      {% for user in users %}
        <div class="dash-container-content-groupsContentUsers-item">
          {% if user.company == 0 %}
            <figure class="dash-container-content-groupsContentUsers-item-figure">
              <img src="static_files/img/logo-coorserpark.jpg" alt="{{alt}} Coorserpark Previsión Exequial">
            </figure>
          {% else %}
            <figure class="dash-container-content-groupsContentUsers-item-figure">
              <img src="static_files/img/logo-capillas.jpg" alt="{{alt}} Capillas de La Fe Funeraria">
            </figure>
          {% endif %}
          <div class="dash-container-content-groupsContentUsers-item-nameContainer">
            <h3>
              {{ user.first_name }} {{ user.last_name}}
            </h3>
          </div>
          <div class="dash-container-content-groupsContentUsers-item-emailContainer">
            <a href="mailto:{{user.email}}">
              {{ user.email }}
            </a>
          </div>
          <div class="dash-container-content-groupsContentUsers-item-optionContainer">
            <figure>
              <img src="static_files/img/view-more-blue.png" alt="{{alt}} Opciones">
            </figure>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".form_edit_group").click(function(){
        $userContent = $(this);
        $content = $userContent.next(".editGroup");
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
