{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>Grupos registrados en el sistema</h1>
    </div>
    <div class="dash-container-content-groupsContent">
      {% if action_grosup_delete %}
        <div class="dash-container-content-groupsContent-item-error">
          <p>{{action_grosup_delete}}</p>
        </div>
      {% endif %}
      {% for group in groups %}
      <div class="dash-container-content-groupsContent-item">
        <figure class="dash-container-content-groupsContent-item-figure">
          <a href="#">
            <img src="static_files/img/icon-dash-config.png" alt="{{alt}} Grupo">
          </a>
        </figure>
        <h5 class="dash-container-content-groupsContent-item-title"><a href="#">{{group.name}}</a></h5>
        <div class="dash-container-content-groupsContent-item-actions">
          <figure>
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="action" value="view" />
              <input type="hidden" name="xeki_action" value="auth::action_groups" />
              <button type="submit">
                <img src="static_files/img/icon-dash-action-view.png" alt="{{alt}} Ver" />
              </button>
            </form>
          </figure>
          <figure>
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="action" value="edit" />
              <input type="hidden" name="xeki_action" value="auth::action_groups" />
              <button type="submit">
                <img src="static_files/img/icon-dash-action-edit.png" alt="{{alt}} Editar" />
              </button>
            </form>
          </figure>
          <figure>
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="action" value="delete" />
              <input type="hidden" name="xeki_action" value="auth::action_groups" />
              <button type="submit">
                <img src="static_files/img/icon-dash-action-delete.png" alt="{{alt}} Eliminar" />
              </button>
            </form>
          </figure>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".user_title").click(function(){
        $userContent = $(this);
        $content = $userContent.next();
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
