{% extends "_base.html" %}
{% block content %}

<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-user.png" alt="{{alt}} Usuarios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de usuarios</h3>
        <p>
          Administra los usuarios de tus grupos. Crea nuevos perfiles, actualiza sus datos y
          gestiona los roles asignados.
        </p>
        <a href="{{URL_BASE}}panel/usuarios">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Grupos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de grupos</h3>
        <p>
          Administra, crea, edita y gestiona los datos de tus grupos, además de editar sus
          roles dentro del sistema.
        </p>
        <a href="{{URL_BASE}}panel/grupos">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-location.png" alt="{{alt}} Permisos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de ciudades</h3>
        <p>
          Crea y edita todas las ciudades registradas en el sistema, para ser relacionadas con la ubicación de los usuarios.
        </p>
        <a href="{{URL_BASE}}panel/ciudades">Administrar</a>
      </div>
    </div>
    
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-process.png" alt="{{alt}} Procesos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de procesos</h3>
        <p>
          Tramita los diferentes procesos, subprocesos, ítems y archivos vinculados a tus
          usuarios y/o grupos.
        </p>
        <a href="{{URL_BASE}}panel/procesos">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-news.png" alt="{{alt}} Noticias">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de noticias</h3>
        <p>
          Revisa las nuevas noticias dentro del sistema y administra, gestiona o modifica las
          noticias existentes.
        </p>
        <a href="{{URL_BASE}}panel/noticias">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-convenious.png" alt="{{alt}} Convenios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de convenios</h3>
        <p>
          Supervisa todos los convenios creados dentro del sistema, crea otros nuevos y
          actualiza los existentes.
        </p>
        <a href="{{URL_BASE}}panel/convenios">Administrar</a>
      </div>
    </div>
    
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-books.png" alt="{{alt}} Usuarios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de inducciones</h3>
        <p>
          Dirige y provee las inducciones necesarias para los usuarios nuevos o para los que
          ya existen dentro del sistema.
        </p>
        <a href="{{URL_BASE}}panel/induccion">Administrar</a>
      </div>
    </div>

  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
