{% extends "_base.html" %}
{% block content %}

<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-user.png" alt="{{alt}} Usuarios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de usuarios</h3>
        <p>
          Administra todos usuarios. Crea nuevos usuarios, actualizar sus datos, entre otros.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-group.png" alt="{{alt}} Grupos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de grupos</h3>
        <p>
          Crea, edita y gestiona todos los grupos y sus respectivos roles del sistema. 
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-permission.png" alt="{{alt}} Permisos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Permisos de usuarios</h3>
        <p>
          Asigna y edita todos los permisos para los usuarios administradores de grupos.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>
    
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-process.png" alt="{{alt}} Procesos">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de procesos</h3>
        <p>
          Gesstiona todos los procesos, subprocesos, items y archivos almacenados en el sistema.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-news.png" alt="{{alt}} Noticias">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de noticias</h3>
        <p>
          Administra todas las noticias almacenadas en el sistema, también podrás crear nuevas noticias y modificar las existentes.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>

    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-convenious.png" alt="{{alt}} Convenios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de convenios</h3>
        <p>
          Administra todos los convenios creados en el sistema, tambipen podrás crear nuevos convenios y actualizar los que ya existen.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>
    
    <div class="dash-container-content-item">
      <figure>
        <img src="static_files/img/icon-dash-menu-books.png" alt="{{alt}} Usuarios">
      </figure>
      <div class="dash-container-content-item-info">
        <h3>Gestión de inducciones</h3>
        <p>
          Administra todas las inducciones almacenadas en el sistema, crea nuevas inducciones y actualiza las que ya existen.
        </p>
        <a href="#">Administrar</a>
      </div>
    </div>

  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
