{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-user.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>Nuevo usuario</h1>
    </div>
    <div class="dash-container-content-newUserContainer">
      {% if message_user_create_error %}
        <div class="dash-container-content-newUserContainer-messages">
          <p class="dash-container-content-newUserContainer-messages-message">
            {{message_user_create_error}}
          </p>
        </div>
      {% endif %}
      {% if message_user_create %}
        <div class="dash-container-content-newUserContaine r-messages">
          <p class="dash-container-content-newUserContainer-messages-message-successful">
            {{message_user_create}}
          </p>
        </div>
      {% endif %}
      <p>
        Recuerda que debes indicarle al usuario que, una vez creado su perfil, deberá completar la actualización de sus datos.
      </p>
      <form method="post" class="dash-container-content-newUserContainer-form" autocomplete="off">
        <div class="dash-container-content-newUserContainer-form-formControl">
          <label for="">Datos personales</label>
          <input type="text" placeholder="Nombres" name="first_name" />
          <input type="text" placeholder="Apellidos" name="last_name" />
        </div>
        <div class="dash-container-content-newUserContainer-form-formControl">
          <label for="">Información del usuario</label>
          <input type="text" placeholder="Nombre de usuario" name="username" />
          <input type="email" placeholder="ejemplo@capillasdelafe.com" name="email" />
        </div>
        <div class="dash-container-content-newUserContainer-form-formControl">
          <label for="">Seguridad</label>
          <input type="password" name="password" placeholder="Contraseña" />
          <input type="password" name="confirm_password" placeholder="Confirmar contraseña" />
        </div>
        <div class="dash-container-content-newUserContainer-form-formControl">
          <label for="">Información de la empresa</label>
          <select name="company" id="company">
            {% for company in business %}
              <option value="{{company.id}}">{{company.name}}</option>
            {% endfor %}
          </select>
          <select name="city" id="city">
            {% for city in cities %}
              <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="dash-container-content-newUserContainer-form-formControl" />
          <label for="">Cargo</label>
          <input type="text" name="position" placeholder="Ejecutivo de ventas" />
        </div>
        {{csrf|raw}}
        <input type="hidden" name="xeki_action" value="auth::create_user" />
        <div class="dash-container-content-newUserContainer-form-formControl">
          <button>Crear usuario</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
