{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon_gestion_humana.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>Nuevo grupo</h1>
    </div>
    <div class="dash-container-content-newUserContainer">
      {% if message_group_create_error %}
        <div class="dash-container-content-newUserContainer-messages">
          <p class="dash-container-content-newUserContainer-messages-message">
            {{message_group_create_error}}
          </p>
        </div>
      {% endif %}
      {% if message_group_create %}
        <div class="dash-container-content-newUserContaine r-messages">
          <p class="dash-container-content-newUserContainer-messages-message-successful">
            {{message_group_create}}
          </p>
        </div>
      {% endif %}
      <br>
      <form method="post" class="dash-container-content-newUserContainer-form">
        <div class="dash-container-content-newUserContainer-form-formControl">
          <label for="">Datos del grupo</label>
          <input type="text" placeholder="Nombre del grupo" name="name" required />
          <input type="text" placeholder="Código del grupo (opcional)" name="code" />
          <input type="hidden" value="{{user.id}}" name="id_user" />
        </div>
        {{csrf|raw}}
        <input type="hidden" name="xeki_action" value="auth::create_group" />
        <div class="dash-container-content-newUserContainer-form-formControl">
          <button>Crear grupo</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
