{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon_gestion_estrategica.png" alt="{{alt}} Procesos">
      </figure>
      <h1>
        <a>{{item}} </a>
        >
        <a>{{process}}</a>
      </h1>
    </div>
    <div class="dash-container-content-groupsContent">
      {% if action_group_delete_fail %}
        <div class="dash-container-content-groupsContent-item-error">
          <p>{{action_group_delete_fail}}</p>
        </div>
      {% endif %}
      {% if action_group_delete_done %}
        <div class="dash-container-content-groupsContent-item-done">
          <p>{{action_group_delete_done}}</p>
        </div>
      {% endif %}
      {% for process in transversal_process %}
        <div class="dash-container-content-groupsContent-item">
          <figure class="dash-container-content-groupsContent-item-figure">
            <img src="static_files/img/icon-dash-config.png" alt="{{alt}} Grupo">
          </figure>
          <h5 class="dash-container-content-groupsContent-item-title">{{process.name}}</h5>
            <figure class="form_edit_group" style="width: 120px; display: flex; justify-content: flex-end; align-items: flex-end">
              <form method="post">
                {{csrf|raw}}
                <input type="hidden" name="group_id" value="{{process.id}}" />
                <input type="hidden" name="action" value="edit" />
                <input type="hidden" name="xeki_action" value="auth::action_groups" />
                <button type="button" >
                  <img src="static_files/img/icon-dash-arrow-bottom.png" alt="{{alt}} Ver más" style="border: none; width: 30px;" />
                </button>
              </form>
            </figure>
          <div class="dash-container-content-groupsContent-item-editContainer editGroup">
            {% for item in items %}
              {% if process.id == item.father_id %}
                <div class="dash-container-content-groupsContent-item-editContainer-item">
                  <a href="{{URL_BASE}}/panel/procesos/subprocesos/{{item.father_id}}-{{item.id}}">
                    {{item.name}} 
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".form_edit_group").click(function(){
        $userContent = $(this);
        $content = $userContent.next(".editGroup");
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
