{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon_gestion_estrategica.png" alt="{{alt}} Procesos">
      </figure>
      <h1>
        Procesos 
        »
        <a>{{process.name}} </a>
        »
        <a>{{item.name}} </a>
      </h1>
    </div>
    <div class="dash-container-content-groupsContent">
      {% if action_group_delete_fail %}
        <div class="dash-container-content-groupsContent-item-error">
          <p>{{action_group_delete_fail}}</p>
        </div>
      {% endif %}
      {% if action_group_delete_done %}
        <div class="dash-container-content-groupsContent-item-done">
          <p>{{action_group_delete_done}}</p>
        </div>
      {% endif %}
      {% for item in subitem %}
        <div class="dash-container-content-groupsContent-item">
          <figure class="dash-container-content-groupsContent-item-figure">
            <img src="static_files/img/{{item.icon}}" alt="{{alt}} Grupo">
          </figure>
          <h5 class="dash-container-content-groupsContent-item-title" style="width: 68%">{{item.name}}</h5>
          <figure>
            <form method="post">
              <a href="{{URL_BASE}}panel/grupos/{{group.id}}" target="_blank" >
                <img src="static_files/img/icon-dash-action-viewPdf.png" alt="{{alt}} Ver" />
              </a>
            </form>
          </figure>
          <figure style="width: 130px">
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="group_id" value="{{group.id}}" />
              <input type="hidden" name="action" value="edit" />
              <input type="hidden" name="" value="auth::action_groups" />
              <input type="file" name="file" id="file" accept="application/pdf,application/vnd.ms-excel">
              <div class="comboBox">
                <label for="file">
                  <img src="static_files/img/icon-dash-action-selectPdf.png" alt="{{alt}} Editar" />
                </label>
                <button>
                  <img src="static_files/img/icon-dash-action-reload.png" alt="{{alt}} Editar" />
                </button>
              </div>
            </form>
          </figure>
          <figure class="form_delete_pdf">
            <form method="post">
              {{csrf|raw}}
              <input type="hidden" name="group_id" value="{{group.id}}" />
              <input type="hidden" name="action" value="delete" />
              <input type="hidden" name="" value="auth::action_groups" />
              <button type="submit">
                <img src="static_files/img/icon-dash-action-deletePdf.png" style="width: 25px" alt="{{alt}} Eliminar" />
              </button>
            </form>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script>
    $(document).ready(function(){
      $(".form_delete_pdf").click(function(){
        $userContent = $(this);
        $content = $userContent.next(".editGroup");
        $content.slideToggle(400);
      });
    });
  </script>
{% endblock %}
