{% extends "_base.html" %}
{% block content %}
<div class="dash">
  <div class="dash-header">
    <figure class="dash-header-figure">
      <img src="static_files/img/icon-config.png" alt="{{alt}} Panel">
    </figure>
    <h2 class="dash-header-title">Panel de administración</h2>
  </div>
  <div class="dash-container">
  {% include 'dashboard/left_menu.html' %} 
  <div class="dash-container-content">
    <div class="dash-container-content-titleContainer">
      <figure>
        <img src="static_files/img/icon-dash-menu-user.png" alt="{{alt}} Usuarios">
      </figure>
      <h1>Información</h1>
    </div>
    <div class="dash-container-content-userEditContent">
      <div class="dash-container-content-userEditContent-header">
        <figure class="dash-container-content-userEditContent-header-figure">
          <img src="static_files/img/img_profile_default_x2.png" alt="{{alt}} {{user.first_name}}" />
        </figure>
        <div class="dash-container-content-userEditContent-header-userInfo">
          <div class="dash-container-content-userEditContent-header-userInfo-item">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
          </div>
          <div class="dash-container-content-userEditContent-header-userInfo-item">
            <figure>
              <img src="static_files/img/icon-dash-university.png" alt="{{alt}} {{user.first_name}}" />
            </figure>
            <h2>{{user.university}}, {{user.career}}</h2>
          </div>
          <div class="dash-container-content-userEditContent-header-userInfo-item">
            <figure>
              <img src="static_files/img/icon-dash-@.png" alt="{{alt}} {{user.first_name}}" />
            </figure>
            <h2>{{user.username}}</h2>
          </div>
          <div class="dash-container-content-userEditContent-header-userInfo-item">
            <figure>
              <img src="static_files/img/icon-dash-email.png" alt="{{alt}} {{user.first_name}}" />
            </figure>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="dash-container-content-userEditContent-infoUser">
        <div class="dash-container-content-userEditContent-infoUser-titleContainer">
          <figure>
            <img src="static_files/img/icon-dash-menu-permission.png" alt="{{alt}} Configuración de perfil">
          </figure>
          <h3 class="dash-container-content-userEditContent-infoUser-titleContainer-title">Perfil</h3>
        </div>
        <div class="dash-container-content-userEditContent-infoUser-formContainer">
          <form method="POST">
            <h3 class="title">&#8226; Rol / Permisos</h3>
            <div class="form-control">
              <label for="">Estado del usuario</label>
              <select>
                <option value="no">Inactivo</option>
                <option value="yes" {% if user.is_active == 'yes' %} selected {% endif %}>Activo</option>
              </select>
            </div>
            <div class="form-control">
              <label for="">Usuario Super administrador</label>
              <select>
                <option value="no">No</option>
                <option value="yes" {% if user.is_active == 'yes' %} selected {% endif %}>Si</option>
              </select>
            </div>
            <!-- <input type="text" name="xeki_action" value="update_rol" />
            <input type="text" name="username" value="{{user.username}}" /> -->
            <div class="form-control">
              <button>Actualizar</button>
            </div>
          </form>
          <form method="POST">
            <h3 class="title">&#8226; Grupos</h3>
            <div class="form-control">
              <label>{{user.first_name}} pertenece a los siguientes grupos:</label>
              <div class="form-control-groups">
                {% for group_user in groups_users %}
                  <a href="#">&#8226; {{ group_user.name }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="form-control">
              <label for="">Agregar a {{user.first_name}} al grupo </label>
              <select>
                {% for group in groups %}
                  <h1>{{group.name}}</h1>
                  <option value="{{goup.id}}">{{group.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-control">
              <button>Actualizar</button>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="dash-container-content-userEditContent-security">
        <div class="dash-container-content-userEditContent-infoUser-titleContainer">
          <figure>
            <img src="static_files/img/icon-dash-security.png" alt="{{alt}} Configuración de perfil">
          </figure>
          <h3 class="dash-container-content-userEditContent-infoUser-titleContainer-title">Seguridad</h3>
        </div>
        <div class="dash-container-content-userEditContent-infoUser-formContainer">
          <form method="POST">
            <h3 class="title">&#8226; Contraseña</h3>
            <div class="form-control">
              <label for="">Usuario Super administrador</label>
              <input type="password">
            </div>
            <div class="form-control">
              <label for="">Usuario Super administrador</label>
              <input type="password">
            </div>
            <div class="form-control">
              <button>Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
