@import url("https://fonts.googleapis.com/css?family=Roboto");
.body-login {
  width: 100%;
  max-width: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  background-image: url("static_files/img/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.body-login-auxiliartext {
  color: #fff;
}
.body-login-webs-container {
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body-login-webs-container figure {
  will-change: transform;
}
.body-login-webs-container figure img {
  transition: 0.3s;
  opacity: 0.6;
}
.body-login-webs-container figure img:hover {
  opacity: 1;
}
.body-login-webs-container figure img:active {
  transform: scale(0.9);
}
.body-login-webs-container figure:last-child {
  border-left: 2px solid #e35825;
  padding: 20px 0 20px 50px;
}
.body-login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}
.body-login-form label {
  color: #fff;
}
.body-login-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  outline: none;
}
.body-login-form input[type=number]::-webkit-inner-spin-button,
.body-login-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.body-login-form button {
  background-color: #e35825;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  border: none;
  font-size: 18px;
  will-change: transform;
  transition: 0.3s;
  outline: none;
}
.body-login-form button:active {
  transform: scale(0.9);
}
.body-login-error-container {
  padding: 0;
  margin: 0 0 30px 0;
  background-color: rgba(255,0,0,0.5);
  width: 340px;
  border-radius: 5px;
}
.body-login-error-container p {
  padding: 0 10px;
  text-align: center;
  color: #fff;
}
.body-login-successful-container {
  padding: 0;
  margin: 0 0 30px 0;
  background-color: rgba(0,128,0,0.5);
  width: 340px;
  border-radius: 5px;
}
.body-login-successful-container p {
  padding: 0;
  text-align: center;
  color: #fff;
}
.body-login-forgotpw {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  transition: 0.3s;
  will-change: transform;
}
.body-login-forgotpw:hover {
  border-bottom: 1px solid #fff;
}
.body-login-forgotpw:active {
  transform: scale(0.9);
}
body {
  max-width: 1024px;
  margin: auto;
}
body header {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 3px 5px #eaeaea;
}
body header .user {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body header .user-figure {
  margin: 0;
  padding: 0;
}
body header .user-figure img {
  margin: 0;
  padding: 0;
}
body header .user-container {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
body header .user-container h4 {
  color: #010647;
  font-size: 1.1em;
  margin: 5px auto;
}
body header .user-container span {
  background-color: #e35825;
  border-radius: 25px;
  font-size: 0.9em;
  color: #fff;
  padding: 2px 10px;
  margin: 10px auto;
}
body header .business {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55%;
  margin: 0;
  padding: 0;
}
body header .business-separator {
  border-left: 1px solid #e35825;
  height: 70px;
  margin: 0 20px;
}
body header .business-figure-coor a img,
body header .business-figure-cap a img {
  will-change: transform;
  transition: 0.3s;
}
body header .business-figure-coor a img:active,
body header .business-figure-cap a img:active {
  transform: scale(0.9);
}
body header .menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body header .menu figure {
  margin: 0 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.3s;
  width: 24px;
}
body header .menu figure img {
  width: 100%;
}
body header .menu figure:active {
  transform: scale(0.7);
}
body header .header-menu {
  background-color: #29dde8;
  height: 530px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;
}
body header .header-menu-close {
  position: absolute;
  right: 25px;
  top: 15px;
  transition: 0.3s;
}
body header .header-menu-close:active {
  transform: scale(0.7);
}
body header .header-menu-close img {
  margin: 0;
  padding: 0;
  width: 20px;
}
body header .header-menu-container {
  width: 70%;
  margin: auto;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}
body header .header-menu-container-item {
  background-color: #3b4663;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 170px;
  height: 230px;
  margin: 10px;
  padding: 20px 5px 5px 5px;
  transition: 0.3s;
}
body header .header-menu-container-item-form {
  cursor: pointer !important;
}
body header .header-menu-container-item-form-buttonText {
  width: 90%;
  font-size: 0.9em !important;
  letter-spacing: -1px;
  margin: 10px 5% !important;
  cursor: pointer !important;
}
body header .header-menu-container-item-form-figure-buttonImage {
  width: 100% !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0;
  cursor: pointer !important;
}
body header .header-menu-container-item-form-figure-buttonImage img {
  margin: 0;
  padding: 0;
  width: 100%;
}
body header .header-menu-container-item:hover {
  background-color: #e35825;
}
body header .header-menu-container-item:active {
  transform: scale(0.9);
}
body header .header-menu-container-item figure {
  width: 90%;
  margin: auto;
}
body header .header-menu-container-item figure img {
  width: 100%;
}
body header .header-menu-container-item button {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  margin: 10px 0;
  outline: none;
}
body header .header-menu-container-item button a {
  text-decoration: none;
  color: #3b4663;
  font-size: 0.9em;
  letter-spacing: -1px;
}
body footer {
  background-color: #010647;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer .footer-separator {
  border-left: 1px solid #fff;
  height: 60px;
}
body footer .footer-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  padding: 30px 0;
}
body footer .footer-item-cap {
  margin-right: 35px;
}
.home {
  position: relative;
}
.home .option-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.home .option-bar-item {
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px;
}
.home .option-bar-item-figure-container {
  width: 200px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(1,6,71,0.5) 3px 5px 5px;
  margin: 10px;
  transition: 0.3s;
  will-change: transform;
  margin: 0;
  padding: 0;
}
.home .option-bar-item-figure-container:active {
  transform: scale(0.8);
}
.home .option-bar-item-figure-container-imgbackground {
  width: 100%;
  margin: 0;
  padding: 0;
}
.home .option-bar-item-figure-container-imgbackground img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.home .option-bar-item-figure-container-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(1,6,71,0.8);
  transition: 0.3s;
}
.home .option-bar-item-figure-container-icon img {
  margin: 0;
  padding: 0;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  background-color: transparent;
  position: absolute;
}
.home .option-bar-item-figure-container-icon img:hover {
  background-color: transparent;
}
.home .option-bar-item-figure-container-icon:hover {
  background-color: #e35825;
  background-color: rgba(227,88,37,0.8);
}
.home .option-bar-item-title {
  text-align: center;
  width: 100%;
  font-family: 'Roboto';
  text-decoration: none;
  color: #010647;
  margin-top: 5px;
  transition: 0.3s;
  will-change: transform;
}
.home .option-bar-item-title:active {
  transform: scale(0.9);
}
.home .option-bar-item-title:hover {
  text-decoration: none;
  color: #e35825;
}
.home .events-container {
  width: 100%;
  background-color: #eaeaea;
  padding: 15px;
}
.home .events-container .eventSliders {
  width: 80%;
  margin: auto;
}
.home .events-container .eventSliders-item {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .events-container .eventSliders-item-figure {
  width: 350px;
  height: 160px;
  margin: 0;
  padding: 0;
  border-right: 2px solid #e35825;
}
.home .events-container .eventSliders-item-figure img {
  width: 100%;
  height: 160px;
}
.home .events-container .eventSliders-item-container {
  background-color: rgba(1,6,71,0.7);
  width: 100%;
  height: 160px;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .events-container .eventSliders-item-container h3,
.home .events-container .eventSliders-item-container p {
  color: #fff;
  text-align: left;
  width: 100%;
}
.home .events-container .eventSliders-item-container p {
  line-height: 1.3;
}
.home .events-container .eventSliders-item-container-viewmore {
  background-color: #e35825;
  text-decoration: none;
  color: #fff;
  margin: auto;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  padding: 0 15px;
  will-change: transform;
  transition: 0.3s;
}
.home .events-container .eventSliders-item-container-viewmore:active {
  transform: scale(0.9);
}
.home .events-container .owl-dots {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .events-container .owl-dots .owl-dot {
  border-radius: 50%;
  width: 10px;
  background-color: #010647;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3px;
}
.home .events-container .owl-dots .owl-dot span {
  padding: 5px;
}
.home .events-container .owl-dots .active {
  background-color: #e35825;
}
.profile-header {
  width: 100%;
  background-color: #3b4663;
  margin-top: 2px;
  height: 210px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 10px;
}
.profile-header-info {
  width: 33%;
}
.profile-header-info h1,
.profile-header-info h2,
.profile-header-info h3 {
  margin: 0;
  padding: 0;
}
.profile-header-info h1,
.profile-header-info h3 {
  color: #fff;
}
.profile-header-info h1 {
  font-size: 1.7em;
}
.profile-header-info h2 {
  color: #e35825;
  font-size: 1.4em;
}
.profile-header-info h3 {
  font-size: 1.2em;
}
.profile-header-more {
  background-color: #fff;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  padding: 5px 15px;
}
.profile-header-more h2 {
  color: #e35825;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
.profile-header-imageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
.profile-header-imageContainer figure {
  margin: 0;
  padding: 0;
  width: 150px;
}
.profile-header-imageContainer figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.profile-header-imageContainer-buttonEdit {
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
}
.profile-header-imageContainer-buttonEdit:hover {
  color: #fff;
  text-decoration: none;
}
.profile-header-imageContainer a {
  transition: 0.3s;
  will-change: transform;
}
.profile-header-imageContainer a:active {
  transform: scale(0.9);
}
.profile-info {
  background-color: #f5f5f5;
  padding: 25px 0;
}
.profile-info-titleContainer {
  width: 90%;
  background-color: #fff;
  border-bottom: 3px solid #ff5000;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.profile-info-titleContainer h2,
.profile-info-titleContainer a {
  margin: 0;
  padding: 0;
}
.profile-info-titleContainer h2 {
  font-size: 1.3em;
  color: #3b4663;
}
.profile-info-titleContainer a {
  text-decoration: none;
  color: #e35825;
  transition: 0.3s;
  will-change: transform;
}
.profile-info-titleContainer a:active {
  transform: scale(0.9);
}
.profile-info-descriptionContainer {
  background-color: #fff;
  width: 90%;
  margin: 20px auto;
  padding: 25px;
}
.profile-info-descriptionContainer h4 {
  color: #ff5000;
  font-size: 1.2em;
}
.profile-info-descriptionContainer p {
  width: 100%;
}
.profile-info-descriptionContainer-hdv {
  background-color: #3b4663;
  border-radius: 5px;
  width: 35%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 30px calc(37.5% - 12.5px);
  border: none;
}
.profile-info-descriptionContainer-hdv:hover {
  text-decoration: none;
  color: #fff;
}
.edit-profile {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.edit-profile-info {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 45%;
}
.edit-profile-info-text {
  width: 100%;
}
.edit-profile-info-text p {
  color: #010647;
  font-style: italic;
  font-size: 0.9em;
}
.edit-profile-info-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-info-image figure {
  width: 150px;
}
.edit-profile-info-image figure img {
  width: 100%;
}
.edit-profile-info-image-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -10px;
}
.edit-profile-info-image-form-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.edit-profile-info-image-form-label {
  background-color: #3b4663;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 10px;
  transition: 0.3s;
}
.edit-profile-info-image-form-label:hover {
  background-color: #010647;
}
.edit-profile-info-image-form-label:active {
  transform: scale(0.9);
}
.edit-profile-info-image-form-submit {
  background-color: #e35825;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  margin: -7px 0 0 10px;
  transition: 0.3s;
}
.edit-profile-info-image-form-submit:hover {
  background-color: #ff5000;
}
.edit-profile-info-image-form-submit:active {
  transform: scale(0.9);
  background-color: #ff5000;
}
.edit-profile-info-user {
  margin: 30px 0 0 20px;
}
.edit-profile-info-user h1 {
  color: #010647;
  font-size: 1.4em;
}
.edit-profile-info-user h2 {
  color: #e35825;
  font-size: 1.1em;
}
.edit-profile-info-user h3 {
  color: #010647;
  text-align: center;
  border-radius: 25px;
  font-size: 1em;
  font-weight: normal;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.edit-profile-info-user h3 img {
  width: 20px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.edit-profile-form {
  margin: 0;
  padding: 0;
  width: 50%;
  margin-top: 30px;
}
.edit-profile-form-formContainer {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  margin: auto;
  background-color: rgba(245,245,245,0.5);
  border: 1px solid #f5f5f5;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.edit-profile-form-formContainer input[type="text"],
.edit-profile-form-formContainer textarea {
  width: 90%;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  margin-bottom: 10px;
  border: 1px solid #f5f5f5;
  outline: none;
}
.edit-profile-form-formContainer label {
  width: 90%;
  text-align: left;
  color: #010647;
  margin-top: 5px;
}
.edit-profile-form-formContainer-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.edit-profile-form-formContainer-submit {
  border: none;
  background-color: #e35825;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 3px 10px;
  transition: 0.3s;
}
.edit-profile-form-formContainer-submit:hover {
  background-color: #ff5000;
}
.edit-profile-form-formContainer-submit:active {
  transform: scale(0.9);
}
.edit-profile-form-formContainer-buttons {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.edit-profile-form-formContainer-buttons-label {
  background-color: #3b4663;
  border-radius: 5px;
  text-align: center !important;
  width: 60% !important;
  color: #fff !important;
  cursor: pointer;
  padding: 2px 10px;
  transition: 0.3s;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edit-profile-form-formContainer-buttons-label:hover {
  background-color: #010647;
}
.edit-profile-form-formContainer-buttons-label:active {
  transform: scale(0.9);
}
.edit-profile-form-formContainer-buttons-submit {
  background-color: #e35825;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 3px 0 0 10px;
  transition: 0.3s;
}
.edit-profile-form-formContainer-buttons-submit:hover {
  background-color: #ff5000;
}
.edit-profile-form-formContainer-buttons-submit:active {
  transform: scale(0.9);
  background-color: #ff5000;
}
.transversalProcess-banner {
  width: 100%;
  margin: 0;
  padding: 0;
}
.transversalProcess-banner img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.transversalProcess-body {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
.transversalProcess-body-title {
  text-align: center;
  font-size: 1.5em;
  color: #010647;
  margin: 20px auto;
}
.transversalProcess-body-title span {
  color: #e35825;
}
.transversalProcess-body-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.transversalProcess-body-container-item {
  border-radius: 5px;
  background-color: #fff;
  width: 45%;
  padding: 20px 30px;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.transversalProcess-body-container-item form button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.transversalProcess-body-container-item:active {
  transform: scale(0.9);
}
.transversalProcess-body-container-item:hover {
  box-shadow: 5px 5px 3px #ccc;
}
.transversalProcess-body-container-item a {
  text-decoration: none;
}
.transversalProcess-body-container-item a:hover {
  text-decoration: none;
}
.transversalProcess-body-container-item-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.transversalProcess-body-container-item-header figure {
  width: 50px;
  margin: 0;
  padding: 0;
}
.transversalProcess-body-container-item-header figure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.transversalProcess-body-container-item-header h2 {
  margin: 0;
  padding: 0;
  color: #3b4663;
  font-size: 1.5em;
  text-align: left;
  margin-left: 20px;
}
.transversalProcess-body-container-item p {
  width: 100%;
  margin-top: 15px;
  color: #3b4663;
  text-align: left;
}
.files-body {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
.files-body-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4em;
  color: #3b4663;
  margin-top: 20px;
}
.files-body-title figure {
  margin: 0;
  padding: 0;
  max-width: 40px;
  margin: 0 10px 0 0;
}
.files-body-title figure img {
  width: 100%;
}
.files-body-title span {
  color: #e35825;
  font-weight: normal;
  margin: 0 15px;
}
.files-body-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 10px;
}
.files-body-container-item {
  background-color: #fff;
  width: 200px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 10px;
  padding: 20px 0;
}
.files-body-container-item a {
  text-decoration: none;
}
.files-body-container-item:active {
  transform: scale(0.9);
}
.files-body-container-item:hover {
  box-shadow: 5px 5px 3px #ccc;
}
.files-body-container-item figure {
  width: 40%;
  margin: 20px 30% 0 30%;
  padding: 0;
}
.files-body-container-item figure img {
  width: 100%;
}
.files-body-container-item h2 {
  font-size: 1.3em;
  color: #3b4663;
  text-align: center;
  font-weight: normal;
  margin: 15px 0;
}
.dash-header {
  border-bottom: 1px solid rgba(227,88,37,0.3);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 5px;
  margin-top: 10px;
}
.dash-header-figure {
  width: 30px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.dash-header-figure img {
  width: 100%;
}
.dash-header-title {
  color: #a5a5a5;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
.dash-container {
  width: 100%;
  min-height: 700px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.dash-container-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60px;
  background-image: linear-gradient(#e35825, rgba(227,88,37,0.8), rgba(227,88,37,0.6));
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.dash-container-menu-item {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
  transition: 0.5s;
  will-change: transform;
}
.dash-container-menu-item-figure {
  width: 25px;
  margin: 0;
  padding: 0;
}
.dash-container-menu-item-figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-menu-item-title {
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  margin: 5px 0;
}
.dash-container-menu-item-title:hover {
  text-decoration: none;
  color: #fff;
}
.dash-container-menu-item:hover {
  transform: scale(1.3);
  background-color: #e35825;
}
.dash-container-content {
  margin: 0 0 0 60px;
  padding: 15px;
  width: calc(100% - 60px);
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dash-container-content-newUserContainer {
  width: 100%;
}
.dash-container-content-newUserContainer p {
  font-size: 0.9em;
  color: #a5a5a5;
  font-style: italic;
  margin: 10px 0;
}
.dash-container-content-newUserContainer-messages {
  margin: 15px 0;
}
.dash-container-content-newUserContainer-messages-message {
  border-radius: 5px;
  background-color: rgba(255,0,0,0.5);
  padding: 10px 10px;
  color: #fff !important;
}
.dash-container-content-newUserContainer-messages-message-successful {
  border-radius: 5px;
  background-color: rgba(0,128,0,0.5);
  padding: 10px 10px;
  color: #fff !important;
}
.dash-container-content-newUserContainer-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(165,165,165,0.2);
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgba(165,165,165,0.4);
  padding: 5px 20px;
  margin-left: -3px;
}
.dash-container-content-newUserContainer-form-formControl {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dash-container-content-newUserContainer-form-formControl label {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #3b4663;
  margin-top: 10px;
}
.dash-container-content-newUserContainer-form-formControl select {
  margin-top: 10px;
  width: 48%;
  outline: none;
  margin-right: 15px;
  padding: 3px 5px;
  transition: 0.5s;
  border: 1px solid rgba(165,165,165,0.4);
}
.dash-container-content-newUserContainer-form-formControl select:focus {
  outline: none;
  border: 1px solid #e35825;
  box-shadow: 0 0 10px #e35825;
}
.dash-container-content-newUserContainer-form-formControl input {
  width: 48%;
  margin-right: 15px;
  margin-top: 10px;
  outline: none;
  padding: 3px 5px;
  transition: 0.5s;
  border: 1px solid rgba(165,165,165,0.4);
}
.dash-container-content-newUserContainer-form-formControl input:focus {
  outline: none;
  border: 1px solid #e35825;
  box-shadow: 0 0 10px #e35825;
}
.dash-container-content-newUserContainer-form-formControl button {
  background-color: rgba(227,88,37,0.9);
  border-radius: 5px;
  color: #fff;
  padding: 3px 20px;
  margin: 25px 0;
  border: none;
  transition: 0.3s;
  outline: none;
  will-change: transform;
}
.dash-container-content-newUserContainer-form-formControl button:hover {
  background-color: #e35825;
}
.dash-container-content-newUserContainer-form-formControl button:active {
  transform: scale(0.9);
}
.dash-container-content-item {
  width: 445px;
  border: 1px solid rgba(165,165,165,0.5);
  border-radius: 0;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
}
.dash-container-content-item figure {
  width: 35px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.dash-container-content-item figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-item-info {
  margin: 0;
  padding: 0;
  width: calc(100% - 9px);
  padding-left: 10px;
}
.dash-container-content-item-info h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-item-info p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.3;
  margin-bottom: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-item-info a {
  background-color: #7f91b5;
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
  margin-top: 5px;
  margin: 5px 0;
  transition: 0.8s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-item-info a:hover {
  background-color: #010647;
}
.dash-container-content-item:hover {
  box-shadow: 1px 1px 3px #a5a5a5;
}
.dash-container-content-item:active {
  transform: scale(0.9);
}
.dash-container-content-titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-titleContainer figure {
  width: 25px;
  margin: 0;
  padding: 0;
}
.dash-container-content-titleContainer figure img {
  width: 100%;
}
.dash-container-content-titleContainer h1 {
  margin: 0;
  padding: 0;
  color: #e35825;
  font-size: 1.3em;
  margin-left: 10px;
}
.dash-container-content-optionContainer {
  margin-top: 15px;
  width: 100%;
}
.dash-container-content-optionContainer a {
  width: 140px;
  background-color: rgba(227,88,37,0.8);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 10px;
  will-change: transform;
  transition: 0.3s;
}
.dash-container-content-optionContainer a img {
  width: 12px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.dash-container-content-optionContainer a:hover {
  background-color: #e35825;
}
.dash-container-content-optionContainer a:active {
  transform: scale(0.9);
}
.dash-container-content-optionContainer-create {
  border: 1px solid #a5a5a5;
  display: none;
  margin-top: 10px;
  padding: 10px;
}
.dash-container-content-optionContainer-create form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-optionContainer-create form label {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.dash-container-content-optionContainer-create form input {
  padding: 0 5px;
}
.dash-container-content-optionContainer-create form button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  border: none;
  transition: 0.3s;
  outline: none;
  will-change: transform;
}
.dash-container-content-optionContainer-create form button:active {
  transform: scale(0.8);
}
.dash-container-content-optionContainer-create form button img {
  width: 25px;
}
.dash-container-content-tableContent {
  width: 100%;
  border: 1px solid transparent;
  margin: 15px 0;
  padding: 0;
}
.dash-container-content-tableContent .odd {
  background-color: rgba(1,6,71,0.6);
  border-bottom: 0.5px solid rgba(255,255,255,0.5);
  transition: 0.5s;
}
.dash-container-content-tableContent .odd:hover {
  background-color: rgba(1,6,71,0.9);
}
.dash-container-content-tableContent-item {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(1,6,71,0.1);
  margin: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
}
.dash-container-content-tableContent-item:hover {
  background-color: #fff;
}
.dash-container-content-tableContent-item-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 0;
}
.dash-container-content-tableContent-item-info-company {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  width: 20px;
  margin-top: -5px;
}
.dash-container-content-tableContent-item-info-company img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
}
.dash-container-content-tableContent-item-info-name {
  width: 350px;
  margin: 0;
  padding: 0;
}
.dash-container-content-tableContent-item-info-name h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff;
  padding-left: 10px;
  background-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-tableContent-item-info-name .even {
  color: #010647;
}
.dash-container-content-tableContent-item-info-email {
  width: 270px;
  margin: 0;
  padding: 0;
}
.dash-container-content-tableContent-item-info-email span {
  margin: 0;
  padding: 0;
  color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-tableContent-item-info-email .even {
  color: #010647;
}
.dash-container-content-tableContent-item-info-position {
  width: 241px;
}
.dash-container-content-tableContent-item-info-position span {
  margin: 0;
  padding: 0;
  color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-tableContent-item-info-position .even {
  color: #010647;
}
.dash-container-content-tableContent-item-info-viewMore {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;
}
.dash-container-content-tableContent-item-info-viewMore figure {
  margin: 0;
  padding: 0;
  width: 20px;
}
.dash-container-content-tableContent-item-info-viewMore figure img {
  width: 100%;
}
.dash-container-content-tableContent-item-moreInfo {
  display: none;
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 15px;
}
.dash-container-content-tableContent-item-moreInfo-div {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.dash-container-content-tableContent-item-moreInfo-div-imageContainer {
  margin: 0;
  padding: 0;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
}
.dash-container-content-tableContent-item-moreInfo-div-imageContainer figure {
  margin: 0;
  padding: 0;
  width: 80px;
}
.dash-container-content-tableContent-item-moreInfo-div-imageContainer figure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.dash-container-content-tableContent-item-moreInfo-div-imageContainer h3 {
  font-size: 1.1em;
  color: #010647;
  text-align: center;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-tableContent-item-moreInfo-div-infoUser,
.dash-container-content-tableContent-item-moreInfo-div-infoAdmin {
  margin: 0;
  padding: 0;
  width: 300px;
}
.dash-container-content-tableContent-item-moreInfo-div-infoUser-item,
.dash-container-content-tableContent-item-moreInfo-div-infoAdmin-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}
.dash-container-content-tableContent-item-moreInfo-div-infoUser-item figure,
.dash-container-content-tableContent-item-moreInfo-div-infoAdmin-item figure {
  margin: 0;
  padding: 0;
  width: 18px;
}
.dash-container-content-tableContent-item-moreInfo-div-infoUser-item figure img,
.dash-container-content-tableContent-item-moreInfo-div-infoAdmin-item figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-tableContent-item-moreInfo-div-infoUser-item span,
.dash-container-content-tableContent-item-moreInfo-div-infoAdmin-item span {
  font-size: 1em;
  margin-left: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash-container-content-tableContent-item-moreInfo-div-infoLogin {
  width: 150px;
}
.dash-container-content-tableContent-item-moreInfo-div-infoLogin-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}
.dash-container-content-tableContent-item-moreInfo-div-infoLogin-item figure {
  margin: 0;
  padding: 0;
  width: 18px;
}
.dash-container-content-tableContent-item-moreInfo-div-infoLogin-item figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-tableContent-item-moreInfo-div-infoLogin-item span {
  font-size: 1em;
  margin-left: 5px;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent a {
  background-color: rgba(227,88,37,0.9);
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  padding: 3px 15px;
  transition: 0.3s;
  will-change: transform;
  outline: none;
  cursor: pointer;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent a figure {
  width: 20px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  margin-top: -5px;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent a figure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent a:hover {
  background-color: #e35825;
}
.dash-container-content-tableContent-item-moreInfo-div-hrefContent a:active {
  transform: scale(0.9);
}
.dash-container-content-userEditContent {
  width: 100%;
  padding: 20px 0;
}
.dash-container-content-userEditContent-delete button {
  text-decoration: none;
  color: #e35825;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  will-change: transform;
  transition: 0.3s;
}
.dash-container-content-userEditContent-delete button:hover {
  border-bottom: 1px solid #e35825;
}
.dash-container-content-userEditContent-delete button:active {
  transform: scale(0.9);
}
.dash-container-content-userEditContent-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-userEditContent-header figure {
  margin: 0;
  padding: 0;
  width: 150px;
  margin-right: 25px;
}
.dash-container-content-userEditContent-header figure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.dash-container-content-userEditContent-header-userInfo-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}
.dash-container-content-userEditContent-header-userInfo-item h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #010647;
}
.dash-container-content-userEditContent-header-userInfo-item h2 {
  font-weight: normal;
  color: #e35825;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.dash-container-content-userEditContent-header-userInfo-item a {
  text-decoration: none;
  color: #e35825;
  transition: 0.3s;
}
.dash-container-content-userEditContent-header-userInfo-item a:active {
  transform: scale(0.9);
}
.dash-container-content-userEditContent-header-userInfo-item figure {
  width: 25px;
  margin: 0;
  padding: 0;
  margin-right: 7px;
}
.dash-container-content-userEditContent-header-userInfo-item figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-userEditContent-infoUser {
  margin: 15px 0;
}
.dash-container-content-userEditContent-infoUser-titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-userEditContent-infoUser-titleContainer figure {
  width: 35px;
  margin: 0;
  padding: 0;
}
.dash-container-content-userEditContent-infoUser-titleContainer figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-userEditContent-infoUser-titleContainer-title {
  color: #e35825;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  margin-left: 10px;
}
.dash-container-content-userEditContent-infoUser-formContainer {
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-userEditContent-infoUser-formContainer form {
  width: 47%;
  margin: 0;
  padding: 0;
  margin-top: 0;
  background-color: rgba(165,165,165,0.1);
  box-shadow: 0px 0px 5px rgba(165,165,165,0.7);
  border-radius: 3px;
  min-height: 250px;
  margin-right: 20px;
  padding: 10px 0;
}
.dash-container-content-userEditContent-infoUser-formContainer form .title {
  color: #e35825;
  margin: 0 20px;
  font-size: 1.2em;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control-successful {
  background-color: rgba(0,128,0,0.7);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 80%;
  margin: 10px 10%;
  text-align: center;
  padding: 10px;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control-error {
  background-color: rgba(255,0,0,0.7);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 80%;
  margin: 10px 10%;
  text-align: center;
  padding: 10px;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control-groups {
  margin-left: 20px;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control-groups a {
  text-decoration: none;
  color: #e35825;
  display: block;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control label {
  margin: 0;
  padding: 0;
  color: #010647;
  display: block;
  margin: 10px 10px 0 20px;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control select {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  margin: 5px 0 10px 20px;
  padding: 0 9px;
  outline: none;
  width: 250px;
  box-shadow: 0px 1px 2px rgba(1,6,71,0.3);
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control input[type="password"] {
  border-radius: 5px;
  width: 250px;
  box-shadow: 0px 1px 2px rgba(1,6,71,0.3);
  margin: 5px 0 10px 20px;
  padding: 0 9px;
  outline: none;
  border: none;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control button {
  border-radius: 5px;
  background-color: #e35825;
  color: #fff;
  border: none;
  margin: 10px 0 0 20px;
  padding: 2px 15px;
  transition: 0.3s;
  will-change: transform;
  outline: none;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control button:hover {
  box-shadow: 0px 1px 5px #010647;
}
.dash-container-content-userEditContent-infoUser-formContainer form .form-control button:active {
  transform: scale(0.9);
}
.dash-container-content-groupsContent {
  width: 100%;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContent-item {
  border: 1px solid #a5a5a5;
  margin: 10px 0;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dash-container-content-groupsContent-item-figure {
  width: 30px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.dash-container-content-groupsContent-item-figure img {
  width: 100%;
}
.dash-container-content-groupsContent-item-title {
  width: 80%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #3b4663;
}
.dash-container-content-groupsContent-item figure {
  margin: 0;
  padding: 0;
  width: 30px;
  margin: 0 7px;
}
.dash-container-content-groupsContent-item figure form {
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContent-item figure form button,
.dash-container-content-groupsContent-item figure form a {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.dash-container-content-groupsContent-item figure form button img,
.dash-container-content-groupsContent-item figure form a img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  will-change: transform;
}
.dash-container-content-groupsContent-item figure form button img:hover,
.dash-container-content-groupsContent-item figure form a img:hover {
  border-bottom: 1px solid #010647;
}
.dash-container-content-groupsContent-item figure form button img:active,
.dash-container-content-groupsContent-item figure form a img:active {
  transform: scale(0.8);
}
.dash-container-content-groupsContent-item-error {
  border-radius: 5px;
  background-color: rgba(255,0,0,0.8);
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: 10px;
}
.dash-container-content-groupsContent-item-error p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.dash-container-content-groupsContent-item-done {
  border-radius: 5px;
  background-color: rgba(0,128,0,0.8);
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: 10px;
}
.dash-container-content-groupsContent-item-done p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.dash-container-content-groupsContent-item-editContainer {
  width: 100%;
  margin-top: 10px;
  display: none;
}
.dash-container-content-groupsContent-item-editContainer form .form-control {
  padding: 10px;
  border-radius: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dash-container-content-groupsContent-item-editContainer form .form-control label {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}
.dash-container-content-groupsContent-item-editContainer form .form-control input[type="text"] {
  border-radius: 3px;
  outline: none;
  border: none;
  border: 1px solid rgba(165,165,165,0.3);
  padding: 3px 10px;
  margin-right: 10px;
}
.dash-container-content-groupsContent-item-editContainer form .form-control button {
  background-color: transparent;
  border: none;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}
.dash-container-content-groupsContent-item-editContainer form .form-control button img {
  width: 25px;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContent-item-editContainer form .form-control button:active {
  transform: scale(0.7);
}
.dash-container-content-groupsContent-item-editContainer form .form-control button:hover {
  cursor: pointer;
}
.dash-container-content-groupsContentUsers {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.dash-container-content-groupsContentUsers-infoContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dash-container-content-groupsContentUsers-infoContainer p {
  color: #e35825;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-infoContainer-adminGuide {
  padding: 0;
  margin: 15px 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dash-container-content-groupsContentUsers-infoContainer-adminGuide-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px;
}
.dash-container-content-groupsContentUsers-infoContainer-adminGuide-item figure {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 15px;
  margin-right: 5px;
}
.dash-container-content-groupsContentUsers-infoContainer-adminGuide-item figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dash-container-content-groupsContentUsers-infoContainer-adminGuide-item p {
  font-size: 0.9em;
  color: #3b4663;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-infoContainer-messageContainer {
  width: 100%;
}
.dash-container-content-groupsContentUsers-infoContainer-messageContainer-error {
  border-radius: 5px;
  background-color: rgba(255,0,0,0.7);
  color: #fff;
  padding: 5px 10px;
}
.dash-container-content-groupsContentUsers-infoContainer-messageContainer-successful {
  border-radius: 5px;
  background-color: rgba(0,128,0,0.7);
  color: #fff;
  padding: 5px 10px;
}
.dash-container-content-groupsContentUsers-item {
  background-color: rgba(165,165,165,0.2);
  padding: 10px 0 10px 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}
.dash-container-content-groupsContentUsers-item-adminContainer {
  width: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-item-adminContainer-figureAdm {
  width: 15px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dash-container-content-groupsContentUsers-item-adminContainer-figureAdm img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-item-figure {
  width: 25px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(1,6,71,0.3);
  border-radius: 3px;
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dash-container-content-groupsContentUsers-item-figure img {
  border-radius: 3px;
  width: 100%;
}
.dash-container-content-groupsContentUsers-item-nameContainer {
  width: 520px;
}
.dash-container-content-groupsContentUsers-item-nameContainer h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #010647;
}
.dash-container-content-groupsContentUsers-item-emailContainer {
  width: 300px;
}
.dash-container-content-groupsContentUsers-item-emailContainer a {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #010647;
}
.dash-container-content-groupsContentUsers-item-optionContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  will-change: transform;
  transition: 0.3s;
  cursor: pointer;
}
.dash-container-content-groupsContentUsers-item-optionContainer figure {
  width: 20px;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-item-optionContainer figure img {
  width: 100%;
}
.dash-container-content-groupsContentUsers-item-optionContainer:active {
  transform: scale(0.8);
}
.dash-container-content-groupsContentUsers-item-actionContainer {
  width: 100%;
  display: none;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  margin-top: 10px;
  background-color: rgba(165,165,165,0.2);
  margin-bottom: -10px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer {
  margin: 0;
  padding: 0;
  width: 270px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-deletePermission button {
  border-radius: 3px;
  background-color: #3b4663;
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
  border: 1px solid #3b4663;
  font-size: 0.8em;
  padding: 5px 10px;
  will-change: transform;
  transition: 0.3s;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-deletePermission button img {
  width: 15px;
  margin-right: 5px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-deletePermission button:hover {
  text-decoration: none;
  color: #fff;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-deletePermission button:active {
  transform: scale(0.8);
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-viewProfile {
  border-radius: 3px;
  background-color: #3b4663;
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  will-change: transform;
  transition: 0.3s;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-viewProfile img {
  width: 15px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-viewProfile:hover {
  text-decoration: none;
  color: #fff;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-buttonContainer-viewProfile:active {
  transform: scale(0.8);
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-permission {
  width: 330px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-permission p {
  color: #010647;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-permission p span {
  color: #e35825;
  font-weight: bold;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 210px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile select {
  margin: 0;
  padding: 0;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile label {
  color: #010647;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile button {
  border: none;
  background-color: none;
  transition: 0.3s;
  will-change: transform;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile button img {
  width: 23px;
}
.dash-container-content-groupsContentUsers-item-actionContainer-container-updateProfile button:active {
  transform: scale(0.8);
}
.error-404 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-404-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
  border: 1px solid rgba(204,204,204,0.8);
  border-radius: 5px;
  margin: 100px auto;
}
.error-404 h1 {
  margin-top: 100px;
  color: #ff5000;
  font-style: italic;
  font-size: 1.7em;
}
.error-404 figure {
  margin-top: 20px;
  width: 30%;
}
.error-404 figure img {
  width: 100%;
}
.error-404 a {
  background-color: #e35825;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 3px 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  transition: 0.5s;
}
.error-404 a:hover {
  background-color: #ff5000;
}
.error-404 a:active {
  transform: scale(0.9);
}
.viewUser {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.viewUser-left {
  width: 250px;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.viewUser-left-figure {
  width: 150px;
  margin-top: 25px;
}
.viewUser-left-figure img {
  width: 100%;
}
.viewUser-left-infoContainer {
  background-color: rgba(204,204,204,0.4);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
}
.viewUser-left-infoContainer-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.viewUser-left-infoContainer-item figure {
  width: 18px;
  min-width: 18px;
  margin-right: 5px;
  margin-top: -2px;
}
.viewUser-left-infoContainer-item figure img {
  width: 100%;
}
.viewUser-left-infoContainer-item span {
  font-size: 0.9em;
  color: #010647;
  font-style: italic;
}
.viewUser-left-infoContainer-item-nameGroup {
  font-style: italic;
  font-weight: bold;
}
.viewUser-right {
  width: 800px;
}
.viewUser-right-containerTop {
  background-color: rgba(204,204,204,0.4);
  margin-top: 25px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 25px;
}
.viewUser-right-containerTop h2 {
  color: #e35825;
  font-size: 1.3em;
  width: 100%;
  margin-bottom: 12px;
}
.viewUser-right-containerTop-item {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 48%;
}
.viewUser-right-containerTop-item figure {
  width: 20px;
  margin: 0 7px 0 2px;
}
.viewUser-right-containerTop-item figure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.viewUser-right-containerTop-item span {
  margin: 0;
  padding: 0;
  color: #010647;
}
.viewUser-right-containerTop-item-companyFigure {
  border-radius: 5px;
  background-color: #fff;
  width: 25px !important;
  margin: 0;
  padding: 0;
  margin: 0 7px 0 0 !important;
  padding: 0 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.viewUser-right-containerTop-item-companyFigure img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.viewUser-right-containerBottom {
  background-color: rgba(204,204,204,0.4);
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
}
.viewUser-right-containerBottom h3 {
  color: #010647;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 12px;
}
.viewUser-right-containerBottom p {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
}
.viewUser-right-containerBottom a {
  background-color: #e35825;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.3s;
  will-change: transform;
}
.viewUser-right-containerBottom a:hover {
  box-shadow: 1px 1px 5px #ff5000;
}
.viewUser-right-containerBottom a:active {
  transform: scale(0.9);
}
