@import '_init.styl'

.body-login 
	_fullW()
	_maxw(none)
	_h(100vh)
	_reset(0)
	_dfc(center, center)
	_ff('Roboto')
	background-image: url('static_files/img/login_background.jpg')
	background-repeat: no-repeat
	background-size: cover
	&-auxiliartext
		_c(white)
	&-webs-container
		margin-bottom 50px
		_dfr(center, center)
		figure 
			will-change transform
			img 
				transition .3s
				opacity .6
				&:hover 
					opacity 1
				&:active
					transform scale(.9)
			&:last-child
				border-left 2px solid $orange
				padding 20px 0  20px 50px

	&-form 
		_dfc(center, center)
		_minw(400px)
		label 
			_c(white)
		input 
			padding 10px 
			_br(5px)
			border none 
			margin 10px auto
			_w(80%)
			_ta(center)
			outline none
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button
			-webkit-appearance: none;
		button 
			_bc($orange)
			_br(5px)
			padding 5px 10px  
			_c(white)
			border none 
			_fz(18px)
			will-change transform
			transition .3s
			outline none
			&:active 
				transform scale(.9)
	&-error-container 
		padding 0
		margin 0 0 30px 0 
		_bc(rgba(red, .5))
		_w(340px)
		_br(5px)
		p 
			padding  0 10px
			_ta(center)
			_c(white)
	&-successful-container 
		padding 0
		margin 0 0 30px 0 
		_bc(rgba(green, .5))
		_w(340px)
		_br(5px)
		p 
			padding  0
			_ta(center)
			_c(white)
	&-forgotpw 
		_aReset(white)
		_mTop(20px)
		transition .3s
		will-change: transform
		&:hover 
			border-bottom 1px solid white
		&:active 
			transform scale(.9)
body 
	_maxw(1024px)
	_ma()
	header 
		_pr()
		_dfr(space-between, center)
		padding 10px
		box-shadow: 0 3px 5px #EAEAEA
		.user 
			_dfr(center, center)
			_reset(0)
			&-figure 
				_reset(0)
				img 
					_reset(0)
			&-container 
				_reset(0)
				_mLeft(15px)
				h4 
					_c($blue)
					_fz(1.1em)
					margin 5px auto
				span 
					_bc($orange)
					_br(25px)
					_fz(.9em)
					_c(white)
					padding 2px 10px
					margin 10px auto
		.business 
			_dfr(center, center)
			_w(55%)
			_reset(0)
			&-separator 
				border-left 1px solid $orange
				_h(70px)
				margin 0 20px
			&-figure-coor, &-figure-cap
				a
					img
						will-change transform
						transition .3s
						&:active 
							transform scale(.9)
		.menu 
			_dfr(center, center)
			figure
				margin 0 15px
				_dfr(center, center)
				transition .3s 
				_w(24px)
				img 
					_fullW()
				&:active 
					transform scale(.7)
		.header-menu 
			_bc($electricBlue)
			_h(530px)
			_pa()
			_t(100px)
			_l(0)
			_r(0)
			_z(3)
			_dn()
			&-close 
				_pa()
				_r(25px)
				_t(15px)
				transition .3s
				&:active 
					transform scale(.7)
				img 
					_reset(0)
					_w(20px)
			&-container 
				_w(70%)
				_ma()
				_dfr(center, flex-start)
				_fw(wrap)
				padding 15px
				&-item 
					_bc($blue2)
					_br(5px)
					_dfc(flex-start, center)
					_maxw(170px)
					_h(230px)
					margin 10px
					padding 20px 5px 5px 5px
					transition .3s
					&-form 
						cursor pointer !important
						&-buttonText
							_w(90%)
							font-size .9em !important
							letter-spacing: -1px
							margin 10px 5% !important
							cursor pointer !important
						&-figure 
							&-buttonImage 
								width 100% !important
								background-color transparent !important
								margin 0 !important
								padding 0
								cursor pointer !important
								img 
									_reset(0)
									_fullW()
					&:hover 
						_bc($orange)
					&:active 
						transform scale(.9)
					figure 
						_w(90%)
						_ma()
						img 
							_fullW()
					button 
						_bc(white)
						_br(5px)
						_w(90%)
						_dfr(center, center)
						border none
						margin 10px 0
						outline none
						a 
							_aReset($blue2)
							_fz(.9em)
							letter-spacing: -1px
	footer 
		_bc($blue)
		_dfr(center, center)
		.footer-separator 
			border-left 1px solid white
			_h(60px)
		.footer-item 
			_dfr(center, center)
			_w(50%)
			padding 30px 0
			&-cap 
				margin-right 35px
// home
	.home 
		_pr()
		.option-bar 
			_dfr(center, center)
			_fullW()
			_reset(0)
			margin-top 20px
			&-item
				_w(200px)
				_dfc(center, center)
				_fw(wrap)
				padding 0 
				margin 10px
				&-figure-container
					_w(200px)
					_pr()
					cursor pointer
					box-shadow rgba($blue, .5) 3px 5px 5px;
					margin 10px
					transition .3s
					will-change transform
					_reset(0)
					&:active 
						transform scale(.8)
					&-imgbackground 
						_fullW()
						_reset(0)
						img 
							_fullW()
							_reset(0)
					&-icon 
						_dfr(center, center)
						_pa()
						_t(0)
						_r(0)
						_b(0)
						_l(0)
						_reset(0)
						_fullW()
						_bc(rgba($blue, .8))
						transition .3s
						img 
							_reset(0)
							_w(50%)
							_t(25%)
							_r(25%)
							_b(25%)
							_l(25%)
							_bc(transparent)
							_pa()
							&:hover 
								_bc(transparent)
						&:hover 
							_bc($orange)
							_bc(rgba($orange, .8))
				&-title 
					_ta(center)
					_fullW()
					_ff('Roboto')
					_aReset($blue)
					_mTop(5px)
					transition .3s
					will-change transform
					&:active 
						transform scale(.9)
					&:hover 
						_aReset($orange)
		.events-container
			_fullW()
			_bc(#EAEAEA)
			padding 15px 
			.eventSliders
				_w(80%)
				_ma()
				&-item 
					_fullW()
					_dfr(center, flex-start)
					&-figure 
						_w(350px)
						_h(160px)
						_reset(0)
						border-right 2px solid $orange
						img
							_fullW()
							_h(160px)
					&-container 
						_bc(rgba($blue, .7))
						_fullW()
						_h(160px)
						padding 10px 20px 
						_dfc(center, center)
						h3, p 
							_c(white)
							_ta(left)
							_fullW()
						p 
							_lh(1.3)
						&-viewmore
							_bc($orange)
							_aReset(white)
							_ma()
							_reset(0)
							_br(25px)
							padding 0 15px
							will-change transform
							transition .3s
							&:active 
								transform scale(.9)
			.owl-dots
				_fullW()
				_h(40px)
				_reset(0)
				_dfr(center, center)
				.owl-dot 
					_br(50%)
					_w(10px)
					_bc($blue)
					_dfr(center, center)
					margin 3px
					span 
						padding 5px
				.active 
						_bc($orange)
//profile 
	.profile 
		&-header 
			_fullW()
			_bc($blue2)
			_mTop(2px)
			_h(210px)
			_dfr(center, center)
			padding 30px 10px 
			&-info 
				_w(33%)
				h1, h2, h3
					_reset(0)
				h1,h3 
					_c(white)
				h1 
					_fz(1.7em)
				h2 
					_c($orange)
					_fz(1.4em)
				h3 
					_fz(1.2em)
			&-more 
				_bc(white)
				_dfc(flex-start, flex-start)
				_w(33%)
				padding 5px 15px
				h2 
					_c($orange)
					_fz(1.4em)
					_reset(0)
			&-imageContainer 
				_dfc(center, center)
				_reset(0)
				margin-left 50px
				figure 
					_reset(0)		
					_w(150px)
					img  
						_reset(0)
						_fullW()
				&-buttonEdit 
					_aReset(white)
					_mTop(5px)
					&:hover
						_c(white)
						text-decoration none
				a 
					transition .3s
					will-change transform
					&:active 
						transform scale(.9)
		&-info 
			_bc($white)
			padding 25px 0
			&-titleContainer 
				_w(90%)
				_bc(white)
				border-bottom 3px solid $orange2
				margin 0 auto
				_dfr(space-between, center)
				padding 15px 
				h2, a 
					_reset(0)
				h2 
					_fz(1.3em)
					_c($blue2)
				a 
					_aReset($orange)
					transition .3s 
					will-change: transform
					&:active 
						transform scale(.9)
			&-descriptionContainer
				_bc(white)
				_w(90%)
				margin 20px auto
				padding 25px 
				h4 
					_c($orange2)
					_fz(1.2em)
				p 
					_fullW()
				&-hdv
					_bc($blue2)
					_br(5px)
					_w(35%)
					_aReset(white)
					padding 10px
					margin 30px calc(37.5% - 12.5px)
					border none
					&:hover 
						text-decoration none 
						color white
//edit profile 
	.edit-profile
		_dfr(space-between, flex-start)
		_reset(0)
		
		&-info
			_dfr(flex-start, flex-start)
			_fw(wrap)
			_mTop(30px)
			_w(45%)
			&-text
				_fullW()
				p 
					_c($blue)
					_fs(italic)
					_fz(.9em)
			&-image
				_dfc(center, center)
				figure
					_w(150px)
					img 
						_fullW()
				&-form 
					_dfr(center, center)
					_mTop(-10px)
					&-file
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					&-label 
						_bc($blue2)
						_c(white)
						_br(5px)
						cursor pointer
						padding 2px 10px
						transition .3s 
						&:hover 
							_bc($blue)
						&:active 
							transform scale(.9)
					&-submit 
						_bc($orange)
						_br(50%)
						_c(white)
						_fwb()
						outline none
						border none
						margin -7px 0 0 10px
						transition .3s
						&:hover
							_bc($orange2)
						&:active 
							transform scale(.9)
							_bc($orange2)
			&-user
				margin 30px 0 0 20px
				h1 
					_c($blue)
					_fz(1.4em)
				h2 
					_c($orange)
					_fz(1.1em)
				h3 
					_c($blue)
					_ta(center)
					_br(25px)
					_fz(1em)
					_fwn()
					_w(50%)
					_dfr(flex-start, center)
					img 
						_w(20px)
						_reset(0)
						margin-right 5px
						
		&-form 
			_reset(0)
			_w(50%)
			_mTop(30px)
			&-formContainer 
				_fullW()
				padding 10px 0
				_br(5px)
				_ma()
				_bc(rgba($white, .5))
				_($white)
				_dfc(center, center)
				margin-bottom 30px
				input[type="text"], textarea
					_w(90%)
					_br(5px)
					border none
					padding 3px 10px
					margin-bottom 10px
					border 1px solid $white
					outline none
				label 
					_w(90%)
					_ta(left)
					_c($blue)
					margin-top 5px
				&-file
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				&-submit 
					border none
					_bc($orange)
					_ta(center)
					_c(white)
					_br(5px)
					outline none
					padding 3px 10px 
					transition .3s
					&:hover 
						_bc($orange2)
					&:active 
						transform scale(.9)
				&-buttons
					_fullW()
					_dfr(center, center)
					&-label 
						_bc($blue2)
						_br(5px)
						text-align center !important
						width 60% !important
						color white !important
						cursor pointer
						padding 2px 10px
						transition .3s 
						margin 0
						-moz-user-select: none; 
						-webkit-user-select: none;
						-ms-user-select: none;
						user-select: none; 
						&:hover 
							_bc($blue)
						&:active 
							transform scale(.9)
					&-submit 
						_bc($orange)
						_br(50%)
						_c(white)
						_fwb()
						outline none
						border none
						margin 3px 0 0 10px
						transition .3s
						&:hover
							_bc($orange2)
						&:active 
							transform scale(.9)
							_bc($orange2)
					
//transversalProcess
	.transversalProcess
		&-banner 
			_fullW()
			_reset(0)
			img 
				_fullW()
				_reset(0)
		&-body 
			_fullW()
			_bc($white)
			_(transparent)
			&-title 
				_ta(center)
				_fz(1.5em)
				_c($blue)
				margin 20px auto
				span 
					_c($orange)
			&-container 
				_dfr(center, center)
				_fw(wrap)
				&-item 
					_br(5px)
					_bc(white)
					_w(45%)
					padding 20px 30px
					margin 10px
					transition .3s
					cursor pointer
					form
						button 
							background-color transparent
							border none
							outline none
							cursor pointer
					&:active 
						transform scale(.9)
					&:hover 
						box-shadow 5px 5px 3px #cccccc
					a 
						text-decoration none
						&:hover 
							text-decoration none
					&-header 
						_dfr(flex-start, center)
						figure 
							_w(50px)
							_reset(0)
							img
								_fullW()
								_reset(0)
						h2 
							_reset(0)
							_c($blue2)
							_fz(1.5em)
							_ta(left)
							margin-left 20px
					p 
						_fullW()
						_mTop(15px)
						_c($blue2)
						_ta(left)

//files 
	.files 
		&-body 
			_bc($white)
			_(transparent)
			&-title 
				_dfr(center, center)
				_fz(1.4em)
				_c($blue2)
				_mTop(20px)
				figure 
					_reset(0)
					_maxw(40px)
					margin 0 10px 0 0
					img 
						_fullW()
				span 
					_c($orange)
					_fwn()
					margin 0 15px
			&-container 
				_dfr(center, center)
				_fw(wrap)
				_w(80%)
				_ma()
				padding 10px
				&-item 
					_bc(white)
					_w(200px)
					_br(5px)
					transition .3s
					margin 10px
					padding 20px 0
					a  
						text-decoration none
					&:active 
						transform scale(.9)
					&:hover 
						box-shadow 5px 5px 3px #CCCCCC
					figure 
						_w(40%)
						margin 20px 30% 0 30%
						padding 0
						img 
							_fullW()
					h2
						_fz(1.3em)
						_c($blue2)
						_ta(center)
						_fwn()
						margin 15px 0

//dashboard
	.dash 
		&-header
			border-bottom 1px solid rgba($orange, .3)
			_dfr(flex-start, center)
			padding-bottom 5px
			_mTop(10px)
			&-figure 
				_w(30px)
				_reset(0)
				_mLeft(10px)
				img 
					_fullW()
			&-title 
				_c($gray)
				_fz(1.3em)
				_reset(0)
				_mLeft(5px)
		&-container
			_fullW()
			_minh(700px)
			_dfr(flex-start, flex-start)
			_pr()
			&-menu
				_dfc(flex-start, center)
				_w(60px)
				background-image: linear-gradient($orange, rgba($orange, .8), rgba($orange, .6));
				_h(100%)
				_pa()
				_t(0)
				_b(0)
				_l(0)
				&-item 
					_fullW()
					_dfc(center, center)
					padding 15px 0
					transition .5s
					will-change: transform
					&-figure 
						_w(25px)
						_reset(0)
						img 
							_reset(0)
							_fullW()
					&-title 
						_fz(.8em)
						_aReset(white)
						margin 5px 0
						&:hover 
							_aReset(white)
					&:hover 
						transform scale(1.3)
						_bc($orange)
			&-content 
				margin 0 0 0 60px
				padding 15px
				_w(calc(100% - 60px))
				_dfr(flex-start, flex-start)
				_fw(wrap)
				&-item
					_w(445px)
					_(rgba($gray, .5))
					_br(0)
					_dfr(flex-start, flex-start)
					transition .3s
					padding 10px
					margin 10px
					figure 
						_w(35px)
						_reset(0)
						_mTop(5px)
						img 
							_reset(0)
							_fullW()
					&-info 
						_reset(0)
						_w(calc(100% - 9px))
						padding-left 10px
						h3 
							_fz(1.1em)
							_reset(0)
							-moz-user-select: none; 
							-webkit-user-select: none;
							-ms-user-select: none;
							user-select: none; 
						p 
							_reset(0)
							_fz(.8em)
							line-height: 1.3
							margin-bottom 10px
							-moz-user-select: none; 
							-webkit-user-select: none;
							-ms-user-select: none;
							user-select: none; 
						a 
							_bc($lightBlue)
							_aReset(white)
							padding 3px 10px
							_mTop(5px)
							margin 5px 0
							transition .8s
							-moz-user-select: none; 
							-webkit-user-select: none;
							-ms-user-select: none;
							user-select: none; 
							&:hover 
								_bc($blue)
					&:hover 
						box-shadow 1px 1px 3px $gray
					&:active 
						transform scale(.9)
				&-titleContainer
					_dfr(flex-start, center)
					figure
						_w(25px)
						_reset(0)
						img 
							_fullW()
					h1 
						_reset(0)
						_c($orange)
						_fz(1.3em)
						_mLeft(10px)
				&-tableContent 
					_fullW()
					_(transparent)
					margin 15px 0
					padding 0
					.odd 
						_bc(rgba($blue, .6))
						transition .5s
						&:hover 
							_bc(rgba($blue, .9))
					&-item 
						_fullW()
						_dfc(flex-start, flex-start)
						_bc(rgba($blue, .1))
						_reset(0)
						margin 0
						cursor pointer
						transition .5s
						&:hover 
							_bc(white)
						&-info 
							_dfr(flex-start, center)
							margin 0 
							padding 5px 0
							&-company 
								_reset(0)
								_mLeft(10px)
								_w(20px)
								_mTop(-5px)
								img 
									_reset(0)
									_fullW()
									_br(3px)
							&-name 
								_w(350px)
								_reset(0)
								h3
									_reset(0)
									_fz(1em)
									_c(white)
									padding-left 10px
									background-color transparent
									-moz-user-select: none; 
									-webkit-user-select: none;
									-ms-user-select: none;
									user-select: none; 
								.even 
									_c($blue)
							&-email 
								_w(270px)
								_reset(0)
								span 
									_reset(0)
									_c(white)
									-moz-user-select: none; 
									-webkit-user-select: none;
									-ms-user-select: none;
									user-select: none; 
								.even 
									_c($blue)
							&-position 
								_w(241px)
								span 
									_reset(0)
									_c(white)
									-moz-user-select: none; 
									-webkit-user-select: none;
									-ms-user-select: none;
									user-select: none; 
								.even 
									_c($blue)
							&-viewMore
								_dfr(center, center)
								_reset(0)
								_w(40px)
								figure 
									_reset(0)
									_w(20px)
									img 
										_fullW()
						&-moreInfo
							_dn()
							_fullW()
							_bc(white)
							margin 0 
							padding 15px
							&-div
								_dfr(flex-start, flex-start)
								_fw(wrap)
								_fullW()
								&-imageContainer 
									_reset(0)
									_dfc(center, flex-start)
									margin 0 30px
									figure 
										_reset(0)
										_w(80px)
										img 
											_fullW()
											_reset(0)
									h3 
										_fz(1.1em)
										_c($blue)
										_ta(center)
										_fullW()
										-moz-user-select: none; 
										-webkit-user-select: none;
										-ms-user-select: none;
										user-select: none; 
								&-infoUser, &-infoAdmin
									_reset(0)
									_w(300px)
									&-item 
										_dfr(flex-start, center)
										margin 10px 0
										figure 
											_reset(0)
											_w(18px)
											img 
												_reset(0)
												_fullW()
										span 
											_fz(1em)
											_mLeft(5px)
											-moz-user-select: none; 
											-webkit-user-select: none;
											-ms-user-select: none;
											user-select: none; 
								&-infoLogin
									_w(150px)
									&-item 
										_dfr(flex-start, center)
										margin 10px 0
										figure 
											_reset(0)
											_w(18px)
											img 
												_reset(0)
												_fullW()
										span 
											_fz(1em)
											_mLeft(5px)
								&-hrefContent
									_dfc(center, center)
									_fullW()
									a 
										_bc(rgba($orange, .9))
										_aReset(white)
										_br(25px)
										_ta(center)
										_dfr(center, center)
										border none
										padding 3px 15px
										transition .3s
										will-change transform
										outline none 
										cursor pointer
										figure 
											_w(20px)
											_reset(0)
											_mRight(5px)
											_mTop(-5px)
											img 
												_fullW()
												_reset(0)
										&:hover 
											_bc($orange)
										&:active 
											transform scale(.9)
				&-userEditContent
					_fullW()
					padding 20px 0
					&-header 
						_dfr(flex-start, center)
						figure 
							_reset(0)
							_w(150px)
							_mRight(25px)
							img 
								_fullW()
								_reset(0)
						&-userInfo 
							&-item
								_dfr(flex-start, center)
								margin 10px 0
								h1 
									_fz(1.1em)
									_reset(0)
									_c($blue)
								h2 
									_fwn()
									_c($orange)
									_reset(0)
									_fz(1em)
								a
									_aReset($orange)
									transition .3s
									&:active 
										transform scale(.9)
								figure 
									_w(25px)
									_reset(0)
									_mRight(7px)
									img 
										_reset(0)
										_fullW()
					&-infoUser 
						margin 15px 0 
						&-titleContainer
							_dfr(flex-start, center)
							figure
								_w(35px)
								_reset(0)
								img 
									_reset(0)
									_fullW()
							&-title 
								_c($orange)
								_ta(left)
								_reset(0)
								_fz(1.2em)
								_mLeft(10px)
						&-formContainer
							_br(5px)
							_fullW()
							padding 10px 0
							_dfr(flex-start, flex-start)
							form
								_w(47%)
								_reset(0)
								_mTop(0)
								_bc(rgba($gray, .1))
								box-shadow 0px 0px 5px rgba($gray, .7)
								_br(3px)
								_minh(250px)
								margin-right 20px
								padding 10px 0
								.title
									_c($orange)
									margin 0 20px
									_fz(1.2em)
								.form-control 
									_reset(0)
									_bc(transparent)
									border none
									&-successful 
										_bc(rgba(green, .7))
										_c(white)
										_fwb()
										_br(5px)
										_w(80%)
										margin 10px 10%
										_ta(center)
										padding 10px
									&-error 
										_bc(rgba(red, .7))
										_c(white)
										_fwb()
										_br(5px)
										_w(80%)
										margin 10px 10%
										_ta(center)
										padding 10px
									&-groups 
										_mLeft(20px)
										a
											_aReset($orange)
											_db()
									label 
										_reset(0)
										_c($blue)
										display block
										margin 10px 10px 0 20px
									select 
										_reset(0)
										_br(3px)
										margin 5px 0 10px 20px
										padding 0 9px
										outline none
										_w(250px)
										box-shadow 0px 1px 2px rgba($blue, .3)
									input[type="password"]
										_br(5px)
										_w(250px)
										box-shadow 0px 1px 2px rgba($blue, .3)
										margin 5px 0 10px 20px
										padding 0 9px
										outline none 
										border none
									button 
										_br(5px)
										_bc($orange)
										_c(white)
										border none 
										margin 10px 0 0 20px
										padding 2px 15px
										transition .3s 
										will-change transform
										outline none
										&:hover
											box-shadow 0px 1px 5px rgba($blue, 1)
										&:active 
											transform scale(.9)
				&-groupsContent
					_fullW()
					_reset(0)
					&-item 
						_($gray)
						margin 10px 0
						padding 10px
						_dfr(flex-start, center)
						_fw(wrap)
						&-figure 
							_w(30px)
							_reset(0)
							_mRight(10px)
							img 
								_fullW()
						&-title 
							_w(80%)
							_ta(left)
							_reset(0)
							_c($blue2)
						figure 
							_reset(0)
							_w(30px)
							margin 0 7px
							form 
								_reset(0)
								button, a 
									border none 
									_reset(0)
									_bc(transparent)
									cursor pointer
									outline none
									img 
										_reset(0)
										_fullW()
										border-bottom 1px solid transparent
										transition .3s 
										will-change: transform
										&:hover 
											border-bottom 1px solid $blue
										&:active 
											transform scale(.8)
						&-error 
							_br(5px)
							_bc(rgba(red, .8))
							_reset(0)
							padding 10px
							margin-top 10px
							p 
								_reset(0)
								_c(white)
						&-done 
							_br(5px)
							_bc(rgba(green, .8))
							_reset(0)
							padding 10px
							margin-top 10px
							p 
								_reset(0)
								_c(white)
						&-editContainer
							_fullW()
							_mTop(10px)
							_dn()
							form 
								.form-control 
									padding 10px
									_br(0)
									_dfr(flex-start, center)
									label
										_reset(0)
										margin-right 15px
									input[type="text"]
										_br(3px)
										outline none
										border none 
										border 1px solid rgba($gray, .3)
										padding 3px 10px
										margin-right 10px
									button 
										background-color transparent 
										border none
										transition .3s
										outline none
										img 
											_w(25px)
											_reset(0)
										&:active 
											transform scale(.7)
				&-groupsContentUsers 
					_fullW()
					_reset(0)
					_mTop(20px)
					&-item 
						_bc(rgba($gray, .2))
						padding 5px
						_dfr(space-between, center)
						_fw(wrap)
						margin 10px 0
						&-figure 
							_w(25px)
							_reset(0)
							margin 0 7px
							_(rgba($blue,.3))
							_br(5px)
							img 
								_br(5px)
								_fullW()
						&-nameContainer 
							_w(520px)
							h3
								_reset(0)
								_fz(1em)
								_c($blue)
						&-emailContainer 
							_w(300px)
							a
								_reset(0)
								_fz(1em)
								_c($blue)
						&-optionContainer 
							_dfr(flex-end, center)
							_reset(0)
							_mRight(5px)
							figure 
								_w(20px)
								_reset(0)
								img 
									_fullW()