<!-- xeki -->
<!DOCTYPE html>
<html lang="es">
<head>
  <title>{{page_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="{{page_description}}"/>
  <meta name="keywords" content="{{page_keywords}}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="static_files/favicon.png"/>
  <link rel="icon" type="image/png" href="static_files/favicon.png"/>
  <link rel="icon" type="image/vnd.microsoft.icon" href="static_files/favicon.png"/>
  <link type="text/css" rel="stylesheet" href="static_files/vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="static_files/css/app.css"/>
  
  <!-- Owl -->
  <link rel="stylesheet" href="static_files/lib/owl.carousel/dist/assets/owl.carousel.css">
  <link rel="stylesheet" href="static_files/lib/owl.carousel/dist/assets/owl.theme.green.css"/>
  {% block metaData %}{% endblock %}
</head>
<body>
<header>
  <div class="user">
    <figure class="user-figure">
      <img src="static_files/img/img_profile_default.png" alt="{{alt}} Perfil">
    </figure>
    <div class="user-container">
      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
      <span>position</span>
    </div>
  </div>  
  <div class="business">
    <figure class="business-figure-cap">
      <a href="{{cap}}" target="_blank">
        <img src="static_files/img/capillas_colors.png" alt="{{alt}} Funeraria">
      </a>
    </figure>
    <div class="business-separator"></div>
    <figure class="business-figure-coor">
      <a href="{{coor}}" target="_blank">
        <img src="static_files/img/coorserpark_colors.png" alt="{{alt}} Coorserpark">
      </a>
    </figure>
  </div>
  <div class="menu">
    <figure class="menu-figure-search">
      <img src="static_files/img/search.png" alt="{{alt}} Buscar">
    </figure>
    <figure class="menu-figure-burguermenu">
      <img src="static_files/img/burguermenu.png" alt="{{alt}} Menú">
    </figure>
  </div>
</header>
{% block content %} {% endblock %}

<footer>
  <div class="footer-item">
    <figure class="footer-item-cap">
      <a href="https://www.facebook.com/capillasdelafeoficial/" target="_blank">
        <img src="static_files/img/logo_capilllas_footer.png" alt="{{alt}} Capillas de La Fe">
      </a>
    </figure>
    <figure class="footer-item-fb">
      <a href="https://www.facebook.com/capillasdelafeoficial/" target="_blank">
        <img src="static_files/img/icon_facebook.png" alt="{{alt}} Capillas de La Fe">
      </a>
    </figure>
  </div>
  <div class="footer-separator"></div>
  <div class="footer-item">
    <figure class="footer-item-cap">
      <a href="https://www.facebook.com/Coorserpark/" target="_blank">
        <img src="static_files/img/logo_coorserpark_footer.png" alt="{{alt}} Capillas de La Fe">
      </a>
    </figure>
    <figure class="footer-item-fb">
      <a href="https://www.facebook.com/Coorserpark/" target="_blank">
        <img src="static_files/img/icon_facebook.png" alt="{{alt}} Capillas de La Fe">
      </a>
    </figure>
  </div>
</footer>

<script type="text/javascript" src="static_files/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="static_files/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static_files/lib/owl.carousel/dist/owl.carousel.js"></script>
<script type="text/javascript" src="static_files/lib/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="static_files/js/_baseAnimation.js"></script>
<script type="text/javascript" src="static_files/lib/fancybox/source/jquery.fancybox.pack.js"></script>

<link type="text/css" rel="stylesheet" href="static_files/lib/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="static_files/lib/flexslider/flexslider.css" media="screen"/>
<link rel="stylesheet" href="static_files/lib/fancybox/source/jquery.fancybox.css" type="text/css" media="screen"/>


{% block scripts %} {% endblock %}


</body>
</html>