<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{{ page_description }}" />
    <meta name="keywords" content="{{ page_keywords }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="static_files/favicon.png" />
    <link rel="icon" type="image/png" href="static_files/favicon.png" />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      href="static_files/favicon.png"
    />
    {% block metaData %}{% endblock %}
  </head>
  <body>
    <header>
      <span>wepet header</span>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <span>footer</span>
    </footer>
    {% block scripts %} {% endblock %}
  </body>
</html>
