{% extends "_base.html" %}
{% block content %}

<div class="edit-profile">
  <div class="edit-profile-info">
    <div class="edit-profile-info-image">
      <figure>
        {% if user.image == '' %}
          <img src="static_files/img/img_profile_default_x2.png" alt="{{alt}} {{ user.first_name }} {{ user.last_name }}">
        {% else %}
          <img src="static_files/xeki_admin/uploads/{{user.image}}" alt="{{alt}} {{ user.first_name }} {{ user.last_name }}">
        {% endif %}
      </figure>
      <form enctype="multipart/form-data" method="POST" class="edit-profile-info-image-form">
        {{csrf|raw}}
        <input type="hidden" name="id_user" value="{{user.id}}" />
        <input type="hidden" name="xeki_action" value="auth::update_image_my_profile">
        <input type="file" name="image_user" id="image_user" class="edit-profile-info-image-form-file">
        <label for="image_user" class="edit-profile-info-image-form-label">Seleccionar</label>
        <input type="submit" class="edit-profile-info-image-form-submit" value="&#10003;">
      </form>
    </div>
    <div class="edit-profile-info-user">
      <h1>{{user.first_name|raw}} {{user.last_name|raw}}</h1>
      <h2>{{user.position|raw}}</h2>
      <h3>
        <img src="static_files/img/icon-location.png" alt="{{alt}} Ubicación">
        {{city.name|raw}}
      </h3>
    </div>
    <div class="edit-profile-info-text">
      <p>
        Recuerda que existe información sensible y por tu seguridad no puedes actualizarla como usuario.
        <br>
        Si necesitas actualizar información sensible como tu nombre, dirección de correo electrónico o ciudad, deberás comunicarte con tu administrador.
      </p>
    </div>
  </div>
  <div class="edit-profile-form">
    <form class="edit-profile-form-formContainer" method="POST">
      <label for="username">Nombre de usuario</label>
      <input type="text" value="{{user.username}}" placeholder="Nombre de usuario" name="username" id="username" />
      <label for="university">Universidad de egreso</label>
      <input type="text" value="{{user.university|raw}}" placeholder="Universidad de egreso" name="university" id="university" />
      <label for="career">Carrera</label>
      <input type="text" value="{{user.career|raw}}" placeholder="Carrera" name="career" id="career" />
      <label for="career">Número de contacto</label>
      <input type="text" value="{{user.phone|raw}}" placeholder="Carrera" name="phone" id="phone" />
      <label for="description">Resumen profesional</label>
      <textarea name="description" cols="30" rows="10" name="description">{{user.description|raw}}</textarea>
      {{csrf|raw}}
      <input type="hidden" name="xeki_action" value="upload-user" />
      <input type="submit" class="edit-profile-form-formContainer-submit" value="&#10003; Actualizar">
    </form>
    {% if user.cv %}
      <form class="edit-profile-form-formContainer" method="post" enctype="multipart/form-data">
        <label for="">Ver hoja de vida</label>
        <a href="{{URL_BASE}}/documents/{{user.cv}}" class="edit-profile-form-formContainer-buttons-a" target="_blank">Hoja de vida de {{user.first_name|raw}} {{user.last_name|raw}}</a>
        <br>
        <input type="file" class="edit-profile-form-formContainer-file" name="hdv" id="hdv" />
        <label for="username">Actualizar de vida</label>
        {{csrf|raw}}
        <input type="hidden" name="xeki_action" value="auth::update_pdf_user" />
        <input type="hidden" name="id_user" value="{{user.id}}" />
        <div class="edit-profile-form-formContainer-buttons">
          <label for="hdv" class="edit-profile-form-formContainer-buttons-label">Seleccionar PDF</label>
          <input type="submit" class="edit-profile-form-formContainer-buttons-submit" value="&#10003;">
        </div>
      </form>
    {% else %}
      <form class="edit-profile-form-formContainer" method="post" enctype="multipart/form-data">
        <label for="username">Actualiza tu hoja de vida</label>
        <input type="file" class="edit-profile-form-formContainer-file" name="hdv" id="hdv" />
        {{csrf|raw}}
        <input type="hidden" name="xeki_action" value="auth::update_pdf_user" />
        <input type="hidden" name="id_user" value="{{user.id}}" />
        <div class="edit-profile-form-formContainer-buttons">
          <label for="hdv" class="edit-profile-form-formContainer-buttons-label">Seleccionar PDF</label>
          <input type="submit" class="edit-profile-form-formContainer-buttons-submit" value="&#10003;">
        </div>
      </form>
    {% endif %}
    {% if update_pdf_user %}
      <div class="edit-profile-form-messageSuccessful">
        <p>{{update_pdf_user}}</p>
      </div>
    {% endif %}
    {% if update_pdf_user_error %}
      <div class="edit-profile-form-messageError">
        <p>{{update_pdf_user_error}}</p>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}
