{% extends "_base.html" %}
{% block content %}
	<section class="home">
		<div class="option-bar">
			<div class="option-bar-item">
				<a href="{{URL_BASE}}profile" class="option-bar-item-figure-container">
					<figure class="option-bar-item-figure-container-imgbackground">
						<img src="static_files/img/img_profile.jpg" class="option-bar-item-figure-container-background" alt="{{alt}} Perfil">
					</figure>
					<figure class="option-bar-item-figure-container-icon">
						<img src="static_files/img/icon_profile.png" class="option-bar-item-figure-container-icon" alt="{{alt}} Perfil">
					</figure>
				</a>
				<a href="{{URL_BASE}}profile" class="option-bar-item-title"> Mi Perfil </a>
			</div>
			<div class="option-bar-item">
				<a href="#" class="option-bar-item-figure-container">
					<figure class="option-bar-item-figure-container-imgbackground">
						<img src="static_files/img/img_restaurant.jpg" class="option-bar-item-figure-container-background" alt="{{alt}} Perfil">
					</figure>
					<figure class="option-bar-item-figure-container-icon">
						<img src="static_files/img/icon_restaurant.png" class="option-bar-item-figure-container-icon" alt="{{alt}} Perfil">
					</figure>
				</a>
				<a href="#" class="option-bar-item-title"> Convenios restaurantes </a>
			</div>
			<div class="option-bar-item">
				<a href="#" class="option-bar-item-figure-container">
					<figure class="option-bar-item-figure-container-imgbackground">
						<img src="static_files/img/img_induction.jpg" class="option-bar-item-figure-container-background" alt="{{alt}} Perfil">
					</figure>
					<figure class="option-bar-item-figure-container-icon">
						<img src="static_files/img/icon_induction.png" class="option-bar-item-figure-container-icon" alt="{{alt}} Perfil">
					</figure>
				</a>
				<a href="#" class="option-bar-item-title"> Inducción / Reinducción </a>
			</div>
		</div>
		<div class="events-container">
			<div class="eventSliders owl-carousel">
				<div class="eventSliders-item">
					<figure class="eventSliders-item-figure">
						<img src="static_files/img/img_banner_default.jpg" alt="{{alt}} Image">
					</figure>
					<div class="eventSliders-item-container">
						<h3>Espacio informativo</h3>
						<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, eius nam repellat suscipit fuga eveniet libero, autem fugiat dolor obcaecati in adipisci, quis ab! Voluptate odio et quas rerum provident?
						</p>
						<a href="#" class="eventSliders-item-container-viewmore">Ver más</a>
					</div>
				</div>
				<div class="eventSliders-item">
					<figure class="eventSliders-item-figure">
						<img src="static_files/img/img_banner_default.jpg" alt="{{alt}} Image">
					</figure>
					<div class="eventSliders-item-container">
						<h3>Espacio informativo</h3>
						<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, eius nam repellat suscipit fuga eveniet libero, autem fugiat dolor obcaecati in adipisci, quis ab! Voluptate odio et quas rerum provident?
						</p>
						<a href="#" class="eventSliders-item-container-viewmore">Ver más</a>
					</div>
				</div>
			</div>
		</div>
		
	</section>
{% endblock %}
{% block scripts %}
{{ parent() }}

<script type="text/javascript">
  $(document).ready(function () {
    $('.eventSliders').owlCarousel({
      loop: true,
      items: 1,
      singleItem: true,
      transitionStyle: "fadeUp",
      items: 1,
      autoplay: true,
      autoPlaySpeed: 5000,
      autoPlayTimeout: 5000,
			autoplayHoverPause: false,
			dots:true,
			nav: false,
			dotsEach: true,

    });
  });
</script>
{% endblock %}