{% extends "_base.html" %}
{% block content %}

<div class="viewUser">
  <div class="viewUser-left">
    <figure class="viewUser-left-figure">
      <img src="static_files/img/img_profile_default_x2.png" alt="{{alt}} {{user.first_name}} {{user.last_name}}" />
    </figure>
    <div class="viewUser-left-infoContainer">
      <div class="viewUser-left-infoContainer-item">
        <figure>
          <img src="static_files/img/icon-dash-menu-@.png" alt="{{alt}} Usuario">
        </figure>
        <span>
          {{user.username}}
        </span>
      </div>
      <div class="viewUser-left-infoContainer-item">
        <figure>
          <img src="static_files/img/icon-dash-menu-date.png" alt="{{alt}} Fecha de ingreso">
        </figure>
        <span>
          {{user.date_joined|date}}
        </span>
      </div>
      {% for group in info_group %}
        <div class="viewUser-left-infoContainer-item">
            <figure>
              {% if group[0].permission_ref == 1 %}
                <img src="static_files/img/icon-dash-menu-date.png" alt="{{alt}} Administrador" />
              {% elseif group[0].permission_ref == 2 %}
                <img src="static_files/img/icon-dash-menu-date.png" alt="{{alt}} Super Administrador" />
              {% endif %}
            </figure>
            <span>
              {% if group[0].permission_ref == 1 %}
                Administrador del {{group[1].name}}
              {% elseif group[0].permission_ref == 2 %}
                Super Administrador del {{group[1].name}}
              {% endif %}
            </span>
        </div>  
      {% endfor %}
    </div>
  </div>
  <div class="viewUser-right">
    bla? 
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
  <script></script>
{% endblock %}


